:host {
  --ch-smart-grid-virtual-scroll__scroll-start-size: 0px;
  --ch-smart-grid-virtual-scroll__scroll-end-size: 0px;
  display: grid;
  grid-auto-rows: max-content;
}

:host(.ch-smart-virtual-scroller--content-not-loaded) {
  opacity: 0;
}

// This is an optimization to avoid flickering when swapping cell.
// With this CSS, cells being rendered do not take up space until they are
// fully rendered. When they are fully rendered, we make the cells take up
// space and in the same DOM write operation we update the virtual scroll size
:host(.ch-smart-virtual-scroller--content-loaded)
  ::slotted(ch-smart-grid-cell:not([data-did-load])) {
  position: absolute;
  pointer-events: none;
  visibility: hidden;
}

:host(.ch-smart-virtual-scroller--virtual-scroll) {
  &::before {
    content: "";
    block-size: calc(var(--ch-smart-grid-virtual-scroll__scroll-start-size));
    inline-size: 0px;
    pointer-events: none;
  }

  &::after {
    content: "";
    block-size: calc(var(--ch-smart-grid-virtual-scroll__scroll-end-size));
    inline-size: 0px;
    pointer-events: none;
  }
}
