:host(.ch-smart-virtual-scroller--content-not-loaded) {
  opacity: 0;
}

:host(.ch-smart-virtual-scroller--content-loaded)
  ::slotted(ch-smart-grid-cell:not([data-did-load])) {
  position: absolute;
  pointer-events: none;
  visibility: hidden;
}

:host {
  --ch-smart-grid-virtual-scroll__scroll-start-size: 0px;
  --ch-smart-grid-virtual-scroll__scroll-end-size: 0px;
  display: grid;
  grid-auto-rows: max-content;
}

.virtual-scroll-start {
  block-size: calc(var(--ch-smart-grid-virtual-scroll__scroll-start-size));
  inline-size: 6px;
  pointer-events: none;
  background-color: red;
}

.virtual-scroll-end {
  block-size: calc(var(--ch-smart-grid-virtual-scroll__scroll-end-size));
  inline-size: 6px;
  pointer-events: none;
  background-color: red;
}
