// - - - - - - - - - - - - - - - -
//            Defaults
// - - - - - - - - - - - - - - - -
$dropdown-background-color--dark-scheme: #242426;
$dropdown-color--dark-scheme: #e9e9e9;

$dropdown-background-color--light-scheme: #fbfbfb;
$dropdown-color--light-scheme: #000;

$dropdown-footer-separator--light-scheme: #000;
$dropdown-footer-separator--dark-scheme: #7f7f7f80;

// Pseudo classes
$background-color--focus-hover--light-scheme: #ccc;
$background-color--active-selected--light-scheme: #e9e9e9;

$background-color--focus-hover--dark-scheme: #3e3e40;
$background-color--active-selected--dark-scheme: #575965;
