@import "./dropdown-tokens";

$z-index-gx-navbar-item: 107; // Same as $z-index-gx-navbar-item from w-c-l

:where(button) {
  all: unset;
}

*,
::before,
::after {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  .section {
    background-color: $dropdown-background-color--light-scheme;
    color: $dropdown-color--light-scheme;
  }
}

@media (prefers-color-scheme: dark) {
  .section {
    background-color: $dropdown-background-color--dark-scheme;
    color: $dropdown-color--dark-scheme;
  }
}

:host {
  --ch-dropdown-rtl-initial-X: 1;

  // Default translate X
  --ch-dropdown-translateX: 0;

  // Default translate Y
  --ch-dropdown-translateY: 0;

  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.expandable-button {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: $z-index-gx-navbar-item + 1;

  &:focus-within {
    box-shadow: 0px 0px 0 1px currentColor;
    transition: box-shadow 250ms;
  }
}

// - - - - - - - - - - - - - - - -
//        Dummy separation
// - - - - - - - - - - - - - - - -
// Dummy separation to keep opened the popup when expand-behavior === "hover"
.dummy-separation {
  display: flex;
  position: absolute;
  z-index: $z-index-gx-navbar-item;

  // Top or Bottom
  &--vertical {
    width: 100%;
    height: var(--separation-between-button-size);
  }

  &--top {
    inset-block-start: var(--separation-between-button);
  }

  &--bottom {
    inset-block-end: var(--separation-between-button);
  }

  // Left or Right
  &--horizontal {
    width: var(--separation-between-button-size);
    height: 100%;
  }

  &--left {
    inset-inline-start: var(--separation-between-button);
  }

  &--right {
    inset-inline-end: var(--separation-between-button);
  }
}

.dummy-wrapper {
  display: contents;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
