@import "../../common/_base";

$z-index-gx-navbar-item: 107; // Same as $z-index-gx-navbar-item from w-c-l

:where(button) {
  all: unset;
}

// Must be placed after the ":where(a, button)"
@include box-sizing();

:host {
  --ch-dropdown-item__image-size: #{$default-decorative-image-size};
  --ch-dropdown-item__background-image-size: 100%;

  --separation: 0px;
  --separation-x: var(--separation);
  --separation-y: var(--separation);

  display: flex;
  position: relative;
  inline-size: 100%;
  block-size: 100%;
}

.expandable-button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  position: relative;
  inline-size: 100%;
  block-size: 100%;
  cursor: pointer;
  z-index: $z-index-gx-navbar-item + 1;

  &:focus-visible {
    outline: 1px solid currentColor;
  }
}

// Remove focus of the button content
::slotted([slot="action"]) {
  pointer-events: none;
}

// - - - - - - - - - - - - - - - -
//           Separation
// - - - - - - - - - - - - - - - -
// Dummy separation to keep opened the popup when expand-behavior === "ClickOrHover"
// ch-window[y-align="outside-start"] {
//   --ch-window-separation: var(--separation-y);
//   --ch-window-separation-y: calc(var(--separation-y) * -1);
// }

// ch-window[y-align="outside-end"] {
//   --ch-window-separation: var(--separation-y);
//   --ch-window-separation-y: var(--separation-y);
// }

// ch-window[x-align="outside-start"] {
//   --ch-window-separation: var(--separation-x);
//   --ch-window-separation-x: calc(var(--separation-x) * -1);
// }

// ch-window[x-align="outside-end"] {
//   --ch-window-separation: var(--separation-x);
//   --ch-window-separation-x: var(--separation-x);
// }

.list {
  display: flex;
  flex-direction: column;
}

.action {
  display: flex;
  align-items: center;
  inline-size: 100%;
  block-size: 100%;
  cursor: pointer;
  text-align: start;

  &:focus-visible {
    outline: 1px solid currentColor;
  }
}

// - - - - - - - - - - - - - - - -
//             Images
// - - - - - - - - - - - - - - - -
.pseudo-img--start::before,
.pseudo-img--end::after {
  content: "";
  display: block;
  inline-size: var(--ch-dropdown-item__image-size);
  block-size: var(--ch-dropdown-item__image-size);
  min-inline-size: var(--ch-dropdown-item__image-size);
}

.pseudo-img--start {
  --ch-dropdown-item-img: var(--ch-dropdown-item-start-img);
}

.pseudo-img--end {
  --ch-dropdown-item-img: var(--ch-dropdown-item-end-img);
}

.start-img-type--background::before,
.end-img-type--background::after {
  background: no-repeat center / var(--ch-dropdown-item__background-image-size)
    var(--ch-dropdown-item-img);
}

.start-img-type--mask::before,
.end-img-type--mask::after {
  -webkit-mask: var(--ch-dropdown-item-img) 50% 50% /
    var(--ch-dropdown-item__background-image-size)
    var(--ch-dropdown-item__background-image-size) no-repeat;
  background-color: currentColor;
}

.content {
  inline-size: 100%;
}
