// Resets
@import "../resets";

// Tokens
@import "./tokens/border-radius";
@import "./tokens/box-shadow";
@import "./tokens/colors";
@import "./tokens/font-size";
@import "./tokens/spacing";

// Base classes
@import "./base/button";
@import "./base/form-controls";
@import "./base/typography";

// Components
@import "./components/header";
@import "./components/tree-view";
@import "./components/tree-view-navigation";

@mixin unanimo(
  // Resets
  $resets: true,
  $box-sizing-reset: true,
  $button-reset: true,
  $input-reset: true,
  $typography-reset: true,

  // Theme
  $light-theme: true,
  $dark-theme: true,

  // Tokens
  $tokens: true,
  $border-radius: true,
  $box-shadow: true,
  $colors: true,
  $font-size: true,
  $spacing: true,

  // Font face
  $font-face: true,

  // Base
  $base-classes: true,
  $button-classes: true,
  $form-controls-classes: true,
  $typography-classes: true,

  // Components
  $components: true,
  $action-group: true,
  $dropdown: true,
  $header: true,
  $tree-view: true,
  $tree-view-navigation: true
) {
  // font-face
  @if $font-face == true {
    @font-face {
      font-family: SourceSansPro_Regular; // 400
      src: url("./assets/fonts/SourceSansPro_Regular.woff2");
    }

    @font-face {
      font-family: SourceSansPro_Bold; // 700
      src: url("./assets/fonts/SourceSansPro_Bold.woff2");
    }
  }

  // Light
  @if $light-theme == true and $colors == true and $tokens == true {
    @media (prefers-color-scheme: light) {
      :root {
        @include foundation-colors--light();
        @include semantic-colors--light();
      }
    }
  }

  // Dark
  @if $dark-theme == true and $colors == true and $tokens == true {
    @media (prefers-color-scheme: dark) {
      :root {
        @include foundation-colors--dark();
        @include semantic-colors--dark();
      }
    }
  }

  :root {
    @if $tokens == true {
      // Default background-color and color
      @if $colors == true {
        background-color: var(--surface-un-surface--alternative);
        color: var(--text-un-text__on-surface--positive);
      }

      // border-radius
      @if $border-radius == true {
        @include border-radius();
      }

      // box-shadow
      @if $box-shadow == true {
        @include box-shadow();
      }

      // General colors
      @if $colors == true {
        @include semantic-colors--general();
      }

      // font-size
      @if $font-size == true {
        @include font-size();
      }

      // spacing
      @if $spacing == true {
        @include spacing();
      }
    }

    @if $font-face == true {
      font-family: SourceSansPro_Regular;
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //                 Resets
  // - - - - - - - - - - - - - - - - - - - -
  @if $resets == true {
    // box-sizing
    @if $box-sizing-reset == true {
      @include box-sizing();
    }

    // <button> and <a> reset
    @if $button-reset == true {
      @include button-reset();
    }

    @if $input-reset == true {
      @include input-reset();
    }

    // Typography reset
    @if $typography-reset == true {
      @include typography-reset();
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //              Base classes
  // - - - - - - - - - - - - - - - - - - - -
  @if $base-classes == true {
    // Button classes
    @if $button-classes == true {
      @include button-classes();
    }

    // Form control classes
    @if $form-controls-classes == true {
      @include form-controls-classes();
    }

    // Typography classes
    @if $typography-classes == true {
      @include typography-classes();
    }
  }

  // - - - - - - - - - - - - - - - - - - - -
  //               Components
  // - - - - - - - - - - - - - - - - - - - -
  @if $components == true {
    // header
    @if $header == true {
      @include header();
    }

    // tree-view
    @if $tree-view == true {
      @include tree-view();
    }

    // tree-view-navigation
    @if $tree-view-navigation == true {
      @include tree-view-navigation();
    }
  }
}
