ch-tabular-grid:focus {
  border: none;
}

ch-tabular-grid-columnset {
  background-color: grey;
}

ch-tabular-grid-column::part(bar) {
  width: 100%;
}

ch-tabular-grid-column::part(bar)::after {
  content: "";
  order: 3;
  margin-left: auto;
}

ch-tabular-grid-column::part(bar-resize) {
  width: 3px;
}

ch-tabular-grid-rowset-legend {
  background-color: lightgrey;
}

ch-tabular-grid-row {
  background-color: white;
  border: 1px solid transparent;
}

ch-tabular-grid-row[focused] {
  border: 1px dotted grey;
}

ch-tabular-grid-row[highlighted] {
  background-color: lightgoldenrodyellow;
}
ch-tabular-grid-row[selected] {
  background-color: yellow;
}
ch-tabular-grid-cell[selected] {
  background-color: gold;
}

ch-tabular-grid-cell {
  color: black;
}
ch-tabular-grid-cell[focused] {
  outline: 1px solid grey;
  outline-offset: -1px;
}

ch-tabular-grid-cell::part(node-icon) {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center;
}

ch-tabular-grid-row:has(> ch-tabular-grid-rowset)
  > ch-tabular-grid-cell::part(node-icon) {
  background-image: url("../icons/folder.svg");
}
ch-tabular-grid-cell::part(node-icon) {
  background-image: url("../icons/file.svg");
}

ch-tabular-grid-rowset-legend::part(icon) {
  width: 16px;
  height: 16px;
  background-image: url("../icons/group.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center;
}

ch-tabular-grid::part(settings-mask) {
  background-color: rgba(0, 0, 0, 0.2);
}

ch-tabular-grid-cell::part(drag-icon) {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
  background-image: url("../icons/drag.svg");
}

ch-tabular-grid-cell::part(actions-icon) {
  padding: 0px;
  border: 0px none transparent;
  background-color: transparent;
  box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;

  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center;
  background-image: url("../icons/view-more.svg");
}

/* caret */
ch-tabular-grid-row > ch-tabular-grid-cell::part(caret),
ch-tabular-grid-rowset > ch-tabular-grid-rowset-legend::part(caret) {
  width: 16px;
  height: 16px;
  background-image: url("../icons/node_collapse.gif");
}

ch-tabular-grid-row:is(
    [collapsed],
    [leaf="false"]:not(:has(> ch-tabular-grid-rowset))
  )
  > ch-tabular-grid-cell::part(caret),
ch-tabular-grid-rowset[collapsed] > ch-tabular-grid-rowset-legend::part(caret) {
  background-image: url("../icons/node_expand.gif");
}

ch-tabular-grid-actionbar {
  display: inline-block;
  margin-top: 10px;
}

ch-tabular-grid-action-refresh {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;
  background-image: url("../icons/refresh.svg");
}

ch-tabular-grid-action-settings {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;
  background-image: url("../icons/settings.svg");
}

ch-tabular-grid-column::part(bar-settings-button) {
  all: unset;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
  background-image: url("../icons/settings.svg");
}

ch-tabular-grid-column::part(bar-sort-ascending) {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
  background-image: url("../icons/sort-asc.svg");
}

ch-tabular-grid-column::part(bar-sort-descending) {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
  background-image: url("../icons/sort-desc.svg");
}

/* grid settings window */
ch-tabular-grid::part(settings-window),
ch-tabular-grid-column::part(settings-window) {
  background: white;
  padding: 5px;
  border: solid 1px grey;
}
ch-tabular-grid::part(settings-header),
ch-tabular-grid-column::part(settings-header) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
ch-tabular-grid::part(settings-caption),
ch-tabular-grid-column::part(settings-caption) {
  text-transform: uppercase;
}
ch-tabular-grid::part(settings-close),
ch-tabular-grid-column::part(settings-close) {
  background-position: center;
  margin-bottom: 0px;
  cursor: pointer;
}

/* indentation */
ch-tabular-grid {
  --indent: 16px;
}

.column-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
}

ch-tabular-grid-row-actions[show-on-row-hover]::part(window) {
  margin-right: 19px;
}
