ch-test-tree-x {
  display: grid;
  grid-template-columns: 300px max-content;
  grid-template-rows: 1fr;
  height: 100%;

  > .test-tree-x-scroll {
    position: relative;
    overflow-y: auto;
    margin-inline-end: 16px;

    > ch-tree-x {
      position: absolute;
      inset: 0;
      margin: 2px;
    }
  }
}

.tree-buttons {
  display: grid;
  grid-auto-rows: max-content;
  row-gap: 8px;
}

:not(.ch-tree-x-dragging-item) ch-tree-x-list-item::part(header):hover {
  background-color: rgb(232, 232, 233);
}

.ch-tree-x-list-item--drag-enter {
  background-color: #eee;
  outline: 1px solid black;
}

ch-tree-x-list-item::part(header) {
  border: 1px solid transparent;
}

ch-tree-x-list-item[selected]::part(header) {
  background-color: rgb(207, 222, 230);
  border-color: rgb(2, 102, 160);
}

.ch-tree-x-drag-info {
  padding-inline: 6px;
  padding-block: 2px;
  background-color: rgb(207, 222, 230);
  border: 1px solid rgb(2, 102, 160);
  border-radius: 10px;
  font-size: 8px;
}
