$separation-between-icons: 24px;

// Reset browser defaults
:where(button) {
  all: unset;
  display: none; // By default, they are hidden
  cursor: pointer;
}

*,
::before,
::after {
  box-sizing: border-box;
}

.header {
  display: grid;
  grid-template: "name edit delete" min-content "description edit delete" 1fr / 1fr min-content min-content;
  margin-inline-end: $separation-between-icons;
}

// Reset browser defaults
.name,
.description {
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  outline: 0;
}

.name {
  grid-area: name;
}

.description {
  grid-area: description;
}

.edit-button {
  grid-area: edit;
  align-self: center;
  width: 21px;
  height: 20px;
  padding: 2px;

  & > .img {
    -webkit-mask: var(--edit-icon);
  }
}

.delete-button {
  grid-area: delete;
  align-self: center;
  width: 18px;
  height: 20px;
  padding: 2px;
  margin-inline-start: $separation-between-icons;

  & > .img {
    -webkit-mask: var(--delete-icon);
  }
}

.accordion:hover,
.accordion:focus-within {
  .edit-button,
  .delete-button {
    display: grid;
  }
}
