ch-test-action-group {
  display: flex;
  border: 2px dashed #00000080;
  resize: both;
  overflow: auto;
  width: 500px;
}

.action-group {
  padding: 20px;
  margin: 20px;
  background-color: #ffffff;
  border: 1px solid;

  &::part(actions) {
    gap: 12px;
  }

  &::part(more-actions-button) {
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    color: rgb(49, 58, 161);
    align-self: center;
    margin-inline-end: 8px;
  }
}

.dropdown-item {
  &::part(action) {
    --separation: 8px;

    background-color: rgb(243, 208, 195);
    border-radius: 4px;
    padding-inline: 16px;
    padding-block: 8px;
  }

  &::part(action):focus-within {
    outline: 1px solid;
  }
  &::part(action):hover {
    background-color: rgb(211, 177, 164);
  }
}

.action-group::part(more-actions-list),
.dropdown-item::part(list) {
  row-gap: 8px;
  margin-block: 8px;
}

.action-group::part(more-actions-section),
.dropdown-item::part(section) {
  background-color: rgb(237, 234, 255);
  padding: 8px;
  box-shadow: 0 4px 8px 1px #22222220;
}
