@import "../../common/base";
@import "../../common/icons";

@include input-reset();
@include button-reset(); // Should be placed before the box-sizing reset
@include box-sizing();

:host {
  /**
   * @prop --ch-combo-box-group__expandable-button-size:
   * Specifies the expandable button size in the group items.
   * @default #{$default-decorative-image-size}
   */
  --ch-combo-box-group__expandable-button-size: #{$default-decorative-image-size};

  /**
   * @prop --ch-combo-box-group__expandable-button-image-size:
   * Specifies the image size of the expandable button size in the group items. 
   * @default 100%
   */
  --ch-combo-box-group__expandable-button-image-size: #{$default-decorative-image-size};

  /**
   * @prop --ch-combo-box-item__image-size:
   * Specifies the box size that contains an image in the items. For example,
   * the box for the startImgSrc and endImgSrc
   * @default #{$default-decorative-image-size}
   */
  --ch-combo-box-item__image-size: #{$default-decorative-image-size};

  /**
   * @prop --ch-combo-box-item__background-image-size:
   * Specifies the image size of the items. For example, the image size for the
   * startImgSrc and endImgSrc
   * @default 100%
   */
  --ch-combo-box-item__background-image-size: 100%;

  /**
   * @prop --ch-combo-box__picker:
   * Specifies the image of the combo-box's picker.
   * @default url('data:image/svg+xml,<svg width="8" height="12" viewBox="0 0 8 12" xmlns="http://www.w3.org/2000/svg"><path d="M4.16669 0.666626L7.66669 4.66663H0.666687L4.16669 0.666626ZM4.16669 11.3333L0.666687 7.33329H7.66669L4.16669 11.3333Z"/></svg>')
   */
  --ch-combo-box__picker: url('data:image/svg+xml,<svg width="8" height="12" viewBox="0 0 8 12" xmlns="http://www.w3.org/2000/svg"><path d="M4.16669 0.666626L7.66669 4.66663H0.666687L4.16669 0.666626ZM4.16669 11.3333L0.666687 7.33329H7.66669L4.16669 11.3333Z"/></svg>');

  /**
   * @prop --ch-combo-box__picker-color:
   * Specifies the color of the combo-box's picker.
   * @default currentColor
   */
  --ch-combo-box__picker-color: currentColor;

  /**
   * @prop --ch-combo-box__picker-size:
   * Specifies the box size that contains the combo-box's picker.
   * @default #{$default-decorative-image-size}
   */
  --ch-combo-box__picker-size: #{$default-decorative-image-size};

  /**
   * @prop --ch-combo-box__picker-mask-size:
   * Specifies the image size of the combo-box's picker.
   * @default 100%
   */
  --ch-combo-box__picker-image-size: 100%;

  /**
   * @prop --ch-combo-box-item-gap:
   * Specifies the spacing between the images, text and the expandable button
   * on items.
   * @default 0px
   */
  --ch-combo-box-item-gap: 0px;

  /**
   * @prop --ch-combo-box-separation:
   * Specifies the separation between the combo-box and the displayed popover.
   * @default 0px
   */
  --ch-combo-box-separation: 0px;

  /**
   * @prop --ch-combo-box-separation-x:
   * Specifies the separation between the combo-box and the popover displayed
   * on the x-axis.
   * @default var(--ch-combo-box-separation)
   */
  --ch-combo-box-separation-x: var(--ch-combo-box-separation);

  /**
   * @prop --ch-combo-box-separation-y:
   * Specifies the separation between the combo-box and the popover displayed
   * on the y-axis.
   * @default var(--ch-combo-box-separation)
   */
  --ch-combo-box-separation-y: var(--ch-combo-box-separation);

  --ch-combo-box-border-inline-start-width: 0px;
  --ch-combo-box-border-inline-end-width: 0px;
  --ch-combo-box-border-block-start-width: 0px;
  --ch-combo-box-border-block-end-width: 0px;

  display: grid;
  align-items: center;
  position: relative;

  // Remove outline of the focus state. This selector must not have higher
  // specificity, since it should be overridden by the class applied to the control
  outline: unset;

  // Remove text selection on double click
  user-select: none;

  &::after {
    content: "";
    justify-self: flex-end;
    inline-size: var(--ch-combo-box__picker-size);
    block-size: var(--ch-combo-box__picker-size);
    -webkit-mask: var(--ch-combo-box__picker) 50% 50% /
      var(--ch-combo-box__picker-image-size)
      var(--ch-combo-box__picker-image-size) no-repeat;
    background-color: var(--ch-combo-box__picker-color);
    pointer-events: none;
  }
}

:host(.ch-disabled) {
  pointer-events: none;
}

select {
  all: unset;
  display: grid;
  opacity: 0;
  overflow: hidden;
}

.mask,
select {
  position: absolute;
  inset-inline: var(--ch-combo-box-mask-inline-start)
    var(--ch-combo-box-mask-inline-end);
  inset-block: var(--ch-combo-box-mask-block-start)
    var(--ch-combo-box-mask-block-end);
}

.mask {
  cursor: text;

  &--no-filters {
    cursor: pointer;
  }
}

.mask,
.value {
  padding: inherit;
  border: inherit;
  border-color: transparent;
}

.value {
  position: absolute;
  inset-inline: var(--ch-combo-box-mask-inline-start)
    var(--ch-combo-box-mask-inline-end);
  inset-block: var(--ch-combo-box-mask-block-start)
    var(--ch-combo-box-mask-block-end);

  margin-inline-end: var(--ch-combo-box__picker-size);

  &--readonly {
    pointer-events: none;
    text-overflow: ellipsis;
  }
}

// - - - - - - - - - - - - - - - -
//           Separation
// - - - - - - - - - - - - - - - -
ch-popover {
  --ch-popover-separation-x: var(--ch-combo-box-separation-x);
  --ch-popover-separation-y: var(--ch-combo-box-separation-y);

  // --ch-popover-min-inline-size: var(--ch-popover-action-width);

  &:not(.hydrated) {
    opacity: 0;
  }
}

.window__content {
  display: grid;
  grid-auto-rows: max-content;
  overflow: auto;
}

// - - - - - - - - - - - - - - - -
//         Leaf and Group
// - - - - - - - - - - - - - - - -
.leaf,
.group__header,
.group__header-caption {
  display: flex;
  gap: var(--ch-combo-box-item-gap);
  align-items: center;
}

.group {
  display: grid;
  grid-template-rows: max-content 1fr;

  &--expandable {
    &::before {
      content: "";
      inline-size: var(--ch-combo-box-group__expandable-button-size);
      block-size: var(--ch-combo-box-group__expandable-button-size);
      background-color: currentColor;
      -webkit-mask: $expandable-icon 50% 50% /
        var(--ch-combo-box-group__expandable-button-image-size)
        var(--ch-combo-box-group__expandable-button-image-size) no-repeat;
    }
  }

  &--collapsed::before {
    transform: rotate(-90deg); // TODO: Add RTL support
  }

  &__content {
    display: grid;
    grid-auto-rows: max-content;

    &--collapsed {
      display: none;
    }
  }
}

// - - - - - - - - - - - - - - - -
//             Images
// - - - - - - - - - - - - - - - -
.img--start::before,
.img--end::after {
  content: "";
  display: block;
  inline-size: var(--ch-combo-box-item__image-size);
  block-size: var(--ch-combo-box-item__image-size);
  min-inline-size: var(--ch-combo-box-item__image-size);
}

.img--start {
  --ch-combo-box-item-img: var(--ch-combo-box-item-start-img);
}

.img--end {
  --ch-combo-box-item-img: var(--ch-combo-box-item-end-img);

  &::after {
    margin-inline-start: auto;
  }
}

.start-img-type--background::before,
.end-img-type--background::after {
  background: no-repeat center / var(--ch-combo-box-item__background-image-size)
    var(--ch-combo-box-item-img);
}

.start-img-type--mask::before,
.end-img-type--mask::after {
  -webkit-mask: var(--ch-combo-box-item-img) 50% 50% /
    var(--ch-combo-box-item__background-image-size)
    var(--ch-combo-box-item__background-image-size) no-repeat;
  background-color: currentColor;
}
