@use "../../../../utilities/scss/base" as *;

@include box-sizing();
@include button-reset();

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
  block-size: 100%;
  box-sizing: border-box;
}
