:host {
  display: flex;
  flex-direction: column;
  --window-max-height: none;
}
.ch-window-container {
  position: relative;
}
ch-window::part(window) {
  width: 100%;
  max-height: var(--window-max-height);
  overflow-y: auto;
}
