:host {
  display: flex;
  flex-direction: column;
  --window-max-height: none;
  --window-gap: 50px;
}
.ch-window-container {
  position: relative;
}
ch-window::part(window) {
  width: 100%;
  max-height: calc(var(--window-max-height) - var(--window-gap));
  overflow-y: auto;
}
