@import "../../common/base";
@import "../common/reset.scss";

@include input-reset();
@include button-reset(); // Should be placed before the box-sizing reset
@include box-sizing();

:host {
  display: grid;

  /**
  * @prop --ch-color-picker-palette-button-inline-size:
  * Specifies the min width of the current color color-palette box.
  * @default 2em
  */
  --ch-color-picker-palette-button-min-inline-size: 2em;

  /**
  * @prop --ch-color-picker-palette-button-block-size:
  * Specifies the min height of the current color color-palette box.
  * @default 1.5em
  */
  --ch-color-picker-palette-button-min-block-size: 1.5em;

  /**
   * @prop --ch-color-picker-palette-columns:
   * Specifies the number of columns in the color palette grid.
   * @default 10
   */
  --ch-color-picker-palette-columns: 10;

  /**
  * @prop --ch-color-picker-preview-inline-size:
  * Specifies the width of the current color preview box.
  * @default 20px
  */
  --ch-color-picker-preview-inline-size: 20px;

  /**
  * @prop --ch-color-picker-preview-block-size:
  * Specifies the height of the current color preview box.
  * @default 20px
  */
  --ch-color-picker-preview-block-size: 20px;
}

li,
ul {
  @include reset-list;
  display: contents;
}

.color-field-container {
  display: contents;
}

.color-preview-container {
  display: flex;
}

.color-preview {
  inline-size: var(--ch-color-picker-preview-inline-size);
  block-size: var(--ch-color-picker-preview-block-size);
}

.format-selector-header {
  display: flex;
}

.color-palette-grid {
  display: grid;
  grid-template-columns: repeat(var(--ch-color-picker-palette-columns), 1fr);
}

.color-palette-button {
  min-inline-size: var(--ch-color-picker-palette-button-min-inline-size);
  min-block-size: var(--ch-color-picker-palette-button-min-block-size);
}
