:host {
  display: flex;
  position: relative;
  flex-direction: column;

  --ch-grid-cell-active-layer: calc(var(--ch-grid-base-layer) * 1);
  --ch-grid-column-header-layer: calc(var(--ch-grid-base-layer) * 2);
  --ch-grid-column-freeze-layer: calc(var(--ch-grid-base-layer) * 4);
  --ch-grid-column-active-layer: calc(var(--ch-grid-base-layer) * 8);
  --ch-grid-settings-layer: calc(var(--ch-grid-base-layer) * 16);
}
.main {
  display: none;
  grid-auto-flow: dense; /* necesario para poder reordenar las columnas */
  overflow-x: auto;
  user-select: none;
}
.row-actions {
  position: absolute;
  top: calc(
    var(--ch-grid-row-highlighted-top, 0px) - var(--ch-grid-scroll-v, 0px)
  );
}
.row-actions:not([show]) {
  display: none;
}
