@import "../../../../common/base";
@import "../../../../common/icons";

@include box-sizing();
@include button-reset();

:host {
  display: grid;
}

:host(.expandable) {
  grid-template-rows: max-content 0fr;
  transition: grid-template-rows
    var(--ch-navigation-list-item-expand-collapse-duration)
    var(--ch-navigation-list-item-expand-collapse-timing-function);
}

:host(.expandable--expanded) {
  grid-template-rows: max-content 1fr;
}

.action {
  display: flex;
  align-items: center;
  gap: var(--ch-navigation-list-item-gap);

  // Defined in the navigation-list-render.scss file
  padding-inline-start: var(--ch-navigation-list-item-indentation);
}

.hyperlink-disabled {
  pointer-events: none;
}

.caption {
  flex: 1;
}

.expandable {
  display: grid;
  overflow: hidden;

  // Delays the visibility application based on the value of var(--ch-navigation-list-item-expand-collapse-duration)
  transition: visibility var(--ch-navigation-list-item-expand-collapse-duration)
    allow-discrete;

  &--collapsed {
    visibility: hidden;
  }
}

// - - - - - - - - - - - - - - - -
//        Expandable button
// - - - - - - - - - - - - - - - -
.expandable-button {
  &::before {
    content: "";
    display: grid;
    place-items: center;
    inline-size: var(--ch-navigation-list-item__expandable-button-size);
    block-size: var(--ch-navigation-list-item__expandable-button-size);
    pointer-events: none;
    z-index: 1;
    background-color: currentColor;
    -webkit-mask: no-repeat center /
      var(--ch-navigation-list-item__expandable-button-image-size)
      $expandable-icon;
  }

  &--collapsed::before {
    transform: rotate(-90deg); // TODO: Add RTL support
  }

  &--after::before {
    order: 1;
  }
}
