$menuWidth: 240px;

:host {
  /**
  * @prop --menu-font-family: The menu font family
  */
  --menu-font-family: "Source Sans Pro", sans-serif;

  /**
  * @prop --menu-background-color: The background color of the menu
  */
  --menu-background-color: var(--whiteSmoke);

  /**
  * @prop --text-color: The color of the text
  */
  --text-color: var(--black);

  /**
  * @prop --item-hover-color: The color of the item on hover
  */
  --item-hover-color: var(--lightGray);

  /**
  * @prop --item-active-color: The color of active item
  */
  --item-active-color: var(--silverGray);

  /**
  * @prop --first-list-icon-color: The color of the first list icon
  */
  --first-list-icon-color: var(--black);

  /**
  * @prop --first-list-arrow-color: The color of the first list arrow icon
  */
  --first-list-arrow-color: var(--black);

  /**
  * @prop --second-list-arrow-color: The color of the second list arrow icon
  */
  --second-list-arrow-color: var(--black);

  /**
  * @prop --footer-line: The color of the footer separator line
  */
  --footer-line-color: var(--black);

  /**
  * @prop --indicator-color: The color of the lateral indicator
  */
  --indicator-color: var(--black);

  /**
  * @prop --scrollbar-track: The color of the scrollbar track
  */
  --scrollbar-track: var(--lightGray);

  /**
  * @prop --scrollbar-thumb: The color of the scrollbar thumb
  */
  --scrollbar-thumb: var(--darkGray);

  display: block;

  #menu {
    background-color: var(--menu-background-color);
    font-family: var(--menu-font-family);
    width: $menuWidth;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 5;

    #title {
      text-transform: uppercase;
      font-weight: 700;
      color: var(--text-color);
      font-size: 14px;
      letter-spacing: 0.378px;
      padding: 16px;
      margin: 0;
      //position: fixed;
      z-index: 20;
      width: $menuWidth;
      box-sizing: border-box;

      &:before {
        //Hide indicator
        content: "";
        position: absolute;
        width: 2px;
        height: 10px;
        background-color: var(--menu-background-color);
        left: 0;
        height: 100%;
        top: 0;
      }
    }

    #main {
      overflow-y: auto;
      position: fixed;
      width: $menuWidth;
      z-index: 10;
    }

    .text {
      color: var(--text-color);
    }

    transition: left 0.6s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

    #footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: $menuWidth;
      box-sizing: border-box;
      z-index: 20;

      #custom-content {
        padding: 32px 16px 8px 16px;
        position: relative;
        &:before {
          //Hide indicator
          content: "";
          position: absolute;
          width: 2px;
          height: 10px;
          background-color: var(--menu-background-color);
          left: 0;
          height: 100%;
          top: 0;
        }
      }

      #collapse-menu {
        cursor: pointer;
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 16px;
        transition: var(--menu-background-color) 0.25s;
        border-top: 1px solid var(--footer-line-color);
        transition: background-color 0.25s;
        position: relative;
        &:hover {
          background-color: var(--item-hover-color);
          &:before {
            background-color: var(--item-hover-color);
          }
        }
        &:active {
          background-color: var(--item-active-color);
          &:before {
            background-color: var(--item-active-color);
          }
        }
        &:before {
          //Hide indicator
          content: "";
          position: absolute;
          width: 2px;
          height: 10px;
          background-color: var(--menu-background-color);
          left: 0;
          height: 100%;
          top: 0;
          transition: background-color 0.25s;
        }
      }
    }

    // COLLAPSED / COLLAPSING
    &.collapsed {
      #footer {
        #custom-content {
          display: none;
        }
        #collapse-menu {
          padding: 0 10px;
        }
      }
    }
    &.collapsed,
    &.collapsed #title,
    &.collapsed #footer {
      left: -202px;
    }

    &.collapsing,
    &.collapsing #title,
    &.collapsing #footer {
      left: -240px !important;
    }

    &.collapse-faster,
    &.collapse-faster #title,
    &.collapse-faster #footer {
      transition: left 0.3s;
      transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    &.collapsed #collapse-menu {
      flex-direction: row-reverse;
      ch-icon {
        transform: rotate(180deg);
      }
    }
  }
  #menu,
  #footer {
    transition: left 0.6s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    color: var(--text-color);
  }

  /*TOOLTIP*/
  .tooltip {
    position: fixed;
    left: 50px;
    opacity: 0;
    transition: opacity 0.25s;
    background-color: var(--menu-background-color);
    color: var(--text-color);
    padding: 4px 8px;
    border-radius: 6px;
    z-index: 0;
  }
  .tooltip.visible {
    opacity: 1;
  }

  /*INDICATOR*/
  #indicator {
    width: 2px;
    background-color: var(--indicator-color);
    position: fixed;
    left: 0;
    height: 0;
    transition: top 0.4s, height 0.5s, opacity 0.35s;
    opacity: 1;
  }
  #indicator.speed-zero {
    transition-duration: 0s;
  }
  #indicator.hide {
    opacity: 0;
  }

  /*SCROLLBAR*/
  /* width */
  ::-webkit-scrollbar {
    width: 6px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
    border-radius: 3px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 3px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb);
    cursor: pointer;
  }
}
