:host {
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-columns: repeat(5, max-content);
}

.rowgroup,
.row {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1; // Necessary to make work the subgrid
}

.column-row {
  display: contents;
}

.body {
  overflow: auto;
}

