:root {
    --ui-animaton-speed: 0.2s;
  }
  $ui-animaton-speed: var(--ui-animaton-speed);
  $ui-animaton-speed-fast: 0.1s;
  $ui-animaton-speed-slow: 0.5s;
  $ui-animation-timing-function: ease;

@mixin ui-animation-slow($properties...) {
    transition-property: $properties;
    transition-duration: $ui-animaton-speed-slow;
    transition-timing-function: $ui-animation-timing-function;
}

@mixin ui-animation($properties...) {
  transition-property: $properties;
  transition-duration: $ui-animaton-speed;
  transition-timing-function: $ui-animation-timing-function;
}

/*****************************************************
FORM ELEMENTS
*****************************************************/

@mixin form-element-common-styles-label {
  @include ch-text();
  display: flex;
  margin-bottom: var(--spacing-lay-xs);
}
@mixin form-element-common-styles-label-group {
  @include ch-text();
  display: flex;
  margin-bottom: var(--spacing-lay-xs);
}
@mixin form-element-common-styles-label-required {
  font-size: var(--font-size-xs);
  padding-left: var(--spacing-lay-xs);
}

/*Text*/
@mixin ch-text {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-sm);
  letter-spacing: var(--letter-spacing-xs);
  color: var(--color-on-background);
  text-align: start;
  line-height: 1.455em;
}
