:host {
  display: block;
  padding: 8px;

  .footer-pagination {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    &__item {
      margin-right: 5px;
      &--active {
        .footer-pagination__button {
          background-color: #696ef2;
          color: #fff;
          border-color: #696ef2;
          &:hover {
            background-color: #696ef2;
          }
        }
      }
    }
    &__button {
      background-color: transparent;
      border: 0;
      cursor: pointer;
      font-family: inherit;
      border: 1px solid #e0e0e0;

      &:hover {
        background-color: rgba(105, 110, 242, 0.2);
        border-color: rgba(105, 110, 242, 0.2);
      }
    }
  }
}
