@mixin column-drag-transition {
  transition: transform .2s;
}

@mixin box-simulation {
  background-color: inherit;

  margin-block-start: inherit;
  margin-block-end: inherit;

  border-block-start: inherit;
  border-block-end: inherit;

  padding-block-start: inherit;
  padding-block-end: inherit;

  // &:first-child {
  //   margin-inline-start: inherit;
  //   border-inline-start: inherit;
  //   padding-inline-start: inherit;
  // }

  // &:last-child {
  //   margin-inline-end: inherit;
  //   border-inline-end: inherit;
  //   padding-inline-end: inherit;
  // }
}
