<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"
    />
    <title>ch-tree</title>
    <script type="module" src="/build/chameleon.esm.js"></script>
    <script nomodule src="/build/chameleon.js"></script>
    <link href="/build/chameleon.css" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/styles.css" />
    <style>
      /*expand/collapse icon*/
      ch-tree-item::part(expand-icon),
      ch-tree-item::part(collapse-icon) {
        content: "";
        display: block;
        background-color: rgb(0, 255, 225);
        padding: 0;
        margin-right: 8px;
        width: 16px;
        height: 16px;
      }
      ch-tree-item::part(expand-icon)::before,
      ch-tree-item::part(collapse-icon)::before {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      ch-tree-item::part(expand-icon)::before {
        content: "+";
      }
      ch-tree-item::part(collapse-icon)::before {
        content: "-";
      }
    </style>
  </head>
  <body>
    <div class="container">
      <section class="section-dev" data-title="ch-tree">
        <ch-tree id="ch-treeview" togglees="false" checkbox toggle-checkboxes>
          <ch-tree-item opened left-icon="/build/ch-icon-assets/generator.svg">
            Meats
            <ch-tree slot="tree">
              <ch-tree-item left-icon="/build/ch-icon-assets/patterns.svg">
                White meats
                <ch-tree slot="tree">
                  <ch-tree-item left-icon="/build/ch-icon-assets/csharp.svg">
                    Chicken
                  </ch-tree-item>
                  <ch-tree-item left-icon="/build/ch-icon-assets/java.svg">
                    Turkey
                  </ch-tree-item>
                  <ch-tree-item
                    left-icon="/build/ch-icon-assets/knowledge-base.svg"
                  >
                    Duck
                  </ch-tree-item>
                </ch-tree>
              </ch-tree-item>
              <ch-tree-item
                left-icon="/build/ch-icon-assets/knowledge-base.svg"
              >
                Red meats
                <ch-tree slot="tree">
                  <ch-tree-item
                    left-icon="/build/ch-icon-assets/knowledge-base.svg"
                  >
                    Beef
                  </ch-tree-item>
                  <ch-tree-item
                    left-icon="/build/ch-icon-assets/knowledge-base.svg"
                  >
                    Lamb and mutton
                  </ch-tree-item>
                  <ch-tree-item
                    left-icon="/build/ch-icon-assets/knowledge-base.svg"
                  >
                    Pork
                  </ch-tree-item>
                </ch-tree>
              </ch-tree-item>
            </ch-tree>
          </ch-tree-item>
          <ch-tree-item
            id="fish"
            left-icon="/build/ch-icon-assets/patterns.svg"
            opened
            download
            disabled
            right-icon="/build/tree-item-assets/download.svg"
          >
            Fish
          </ch-tree-item>
          <ch-tree-item opened left-icon="/build/ch-icon-assets/java.svg">
            Fruits
            <ch-tree slot="tree">
              <ch-tree-item left-icon="/build/ch-icon-assets/java.svg">
                Orange
              </ch-tree-item>
              <ch-tree-item left-icon="/build/ch-icon-assets/java.svg" opened>
                Banana
                <ch-tree slot="tree">
                  <ch-tree-item left-icon="/build/ch-icon-assets/java.svg">
                    Pisang
                  </ch-tree-item>
                  <ch-tree-item left-icon="/build/ch-icon-assets/java.svg">
                    Red Banana
                  </ch-tree-item>
                  <ch-tree-item left-icon="/build/ch-icon-assets/java.svg">
                    Cavendish
                    <ch-tree slot="tree">
                      <ch-tree-item left-icon="/build/ch-icon-assets/java.svg">
                        Big
                      </ch-tree-item>
                      <ch-tree-item left-icon="/build/ch-icon-assets/java.svg">
                        Small
                      </ch-tree-item>
                      <ch-tree-item left-icon="/build/ch-icon-assets/java.svg">
                        Mini
                      </ch-tree-item>
                    </ch-tree>
                  </ch-tree-item>
                </ch-tree>
              </ch-tree-item>
              <ch-tree-item opened left-icon="/build/ch-icon-assets/java.svg">
                Strawberry
                <ch-tree slot="tree">
                  <ch-tree-item
                    id="albion"
                    left-icon="/build/ch-icon-assets/java.svg"
                  >
                    Albion
                  </ch-tree-item>
                  <ch-tree-item
                    left-icon="/build/ch-icon-assets/java.svg"
                    opened
                  >
                    Tillamook
                  </ch-tree-item>
                  <ch-tree-item left-icon="/build/ch-icon-assets/java.svg">
                    Northeaster
                  </ch-tree-item>
                </ch-tree>
              </ch-tree-item>
            </ch-tree>
          </ch-tree-item>
          <ch-tree-item
            opened
            left-icon="/build/ch-icon-assets/generator.svg"
            empty-tree
          >
            Nuts
            <ch-tree slot="tree">
              <ch-tree-item
                opened
                left-icon="/build/ch-icon-assets/generator.svg"
              >
                Almonds
                <ch-tree slot="tree">
                  <ch-tree-item
                    left-icon="/build/ch-icon-assets/generator.svg"
                    opened
                  >
                    Mollar de Tarragona
                  </ch-tree-item>
                  <ch-tree-item left-icon="/build/ch-icon-assets/generator.svg">
                    Ferragnès
                  </ch-tree-item>
                  <ch-tree-item left-icon="/build/ch-icon-assets/generator.svg">
                    Verdal
                  </ch-tree-item>
                </ch-tree>
              </ch-tree-item>
              <ch-tree-item
                left-icon="/build/ch-icon-assets/generator.svg"
                opened
              >
                Brazil nuts
              </ch-tree-item>
              <ch-tree-item left-icon="/build/ch-icon-assets/generator.svg">
                Cashews
              </ch-tree-item>
              <ch-tree-item left-icon="/build/ch-icon-assets/generator.svg">
                Chestnuts
              </ch-tree-item>
            </ch-tree>
          </ch-tree-item>
        </ch-tree>
      </section>
      <button id="getTreeCheckedItems">Get Tree Checked Items</button>
    </div>

    <script>
      const tree = document.getElementById("ch-treeview");
      tree.addEventListener("checkboxClickedEvent", function (e) {
        console.log(e.detail);
      });

      const getTreeCheckedItems = document.getElementById(
        "getTreeCheckedItems"
      );
      getTreeCheckedItems.addEventListener("click", function () {
        (async () => {
          const checkedItems = await tree.getChecked("todo-list");
          console.log("checkedItems", checkedItems);
        })();
      });
    </script>

    <script src="../assets/common.js"></script>
  </body>
</html>
