ch-tree-view {
  display: flex;
  position: relative;
  width: 100%;
  overflow: auto;

  & > .ch-tree-view-container {
    position: absolute;
    inset: 0;
  }

  // Reset useful droppable areas
  &.ch-tree-view-dragging-item ch-tree-view-item {
    pointer-events: var(--ch-tree-view-pointer-events, all);
  }

  // Remove un-useful droppable areas
  &.ch-tree-view-dragging-item .ch-tree-view-list-item--deny-drop {
    pointer-events: none;
  }

  // Remove droppable areas on selected items
  &.ch-tree-view--dragging-selected-items ch-tree-view-item[selected] {
    --ch-tree-view-pointer-events: none;
  }

  // Remove mouse actions when processing the drop of items
  // @todo: Remove keyboard actions
  &.ch-tree-view-waiting-drop-processing {
    cursor: wait;

    > .ch-tree-view-container {
      pointer-events: none;
    }
  }
}

.ch-tree-view-drag-info {
  --rtl-offset: 16px;

  position: fixed;
  left: 0; // Necessary since the custom vars are physical values
  top: 0; // Necessary since the custom vars are physical values
  transform: translate(
    calc(var(--ch-tree-view-dragging-item-x) + var(--rtl-offset)),
    calc(var(--ch-tree-view-dragging-item-y) + 8px)
  );
  pointer-events: none;
  z-index: 1; // Necessary to show the element above the expandable buttons
  animation: ch-tree-view-drag-info-fade-in 10ms;
}

// Wait until the custom var values are updated to avoid flickering
@keyframes ch-tree-view-drag-info-fade-in {
  0%,
  100% {
    opacity: 0;
  }
}

html[dir="rtl"] .ch-tree-view-drag-info {
  --rtl-offset: -100%;
}
