:host {
  display: flex;
  background-color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 12px;
  align-items: center;
}
:host(:nth-child(1)){
  grid-column:1;
  border-right: 0 !important;
}
:host(:nth-child(2)){
  grid-column:2;
}
:host(.nested) {
  ::before {
    content:'';
    width: calc(2ch * var(--level));
  }
}
:host(.freezed) {
  z-index: 1001;
  transform: translateX(var(--scrollH));
}
:host(.last-freezed-col) {
  border-right: 3px solid #8181813f;
}
:host(.hidden) {
  display: none;
}
:host(.toggle-row--expanded){
  ::slotted(ch-icon) {
    transform: rotate(180deg) !important;
  }
}
