:host(:not([color="auto"])) {
  /*"
  * @prop --icon-color: - Color of the icon (sets the SVG's `fill` property)
  */
  svg {
    * {
      fill: var(--icon-color);
    }
  }
}
:host {
  /**
  * @prop --icon-size: - Size of the icon (sets both width and height)
  */
  display: inline-flex;
  svg {
    width: var(--icon-size);
    height: var(--icon-size);
  }
  line-height: 0;

  //Composed icons colors
  .icons01 {
    fill: var(--icons01-enabled) !important;
  }
  .icons02 {
    fill: var(--icons02-enabled) !important;
  }
  .icons03 {
    fill: var(--icons03-enabled) !important;
  }
  .icons04 {
    fill: var(--icons04-enabled) !important;
  }
  .icons05 {
    fill: var(--icons05-enabled) !important;
  }
  .icons06 {
    fill: var(--icons06-enabled) !important;
  }
  .icons07 {
    fill: var(--icons07-enabled) !important;
  }
  .icons08 {
    fill: var(--icons08-enabled) !important;
  }
  .icons09 {
    fill: var(--icons09-enabled) !important;
  }
}
