*,
::before,
::after {
  box-sizing: border-box;
}

:host {
  --ch-drag-bar__size: 5px;
  --ch-drag-bar__size--half: var(--ch-drag-bar__size) / 2;

  display: grid;
  position: relative;
  block-size: 100%;
  inline-size: 100%;
}

.bar {
  position: absolute;
  inset-block: 0;
  inset-inline-start: calc(
    var(--ch-drag-bar__start-position) - var(--ch-drag-bar__size--half)
  );
  inline-size: var(--ch-drag-bar__size);
  background-color: currentColor;
  cursor: ew-resize;
  opacity: 0;
  transition: opacity 120ms linear 200ms;

  &:hover,
  &:active {
    opacity: 1;
  }
}
