@layer ch-tabular-grid {
  ch-tabular-grid-row {
    display: contents;
  }
  ch-tabular-grid-row[collapsed] > ch-tabular-grid-rowset {
    display: none;
  }
  ch-tabular-grid-row:is([leaf="false"], :has(> ch-tabular-grid-rowset))
    > ch-tabular-grid-cell::part(caret) {
    visibility: visible;
  }
  ch-tabular-grid-row[dragging] {
    display: flex;
    position: fixed;
    pointer-events: none;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
    z-index: 1000;
    transition: top var(--row-drag-transition-duration, 0.1s);
  }
}
