:host {
  position: sticky;
  top: 0;
  background-color: #fff;
  display: flex;
  //justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid #e0e0e0;
  padding: 7px;
}
:host(:nth-child(1)) {
  grid-column: 1;
}
:host(:nth-child(2)) {
  grid-column: 2;
}
:host(.freezed){
  transform: translateX(var(--scrollH));
  z-index: 1002;
}
.ch-icon-show-menu {
  cursor: pointer;
  padding: 5px;
  margin-left: 4px;
}
//hidden
:host(.hidden) {
  display: none;
}
