@import "../common/reset.scss";
@import "../grid/helpers/styles.scss";

:host {
  display: flex;
  position: sticky;
  top: 0;

}

// column-set box simulation
:host {
  @include box-simulation;
  @include column-drag-transition;
}

:host([resizing]) {
  cursor: ew-resize;
  & .bar {
    pointer-events: none;
  }
}

.bar {
  @include reset-list;
  display: flex;
  align-items: center;
  
  & .menu .button {
    @include reset-button;
  }

  & .resize {
    align-self: stretch;
    margin-left: auto;
  }
}
