ch-notifications {
  --ch-notification-item-rtl-initial-X: 10px;
  --ch-notification-item-rtl-initial-Y: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  width: 425px;
  max-width: 75vw;

  // - - - - - - - - - - - - - - - -
  //     Notification's position
  // - - - - - - - - - - - - - - - -
  
  &.ch-notifications-position--top-start,
  &.ch-notifications-position--top-center,
  &.ch-notifications-position--top-end {
    inset-block-start: var(--ch-notification-item-rtl-initial-Y);
  }
  &.ch-notifications-position--top-start,
  &.ch-notifications-position--bottom-start {
    inset-inline-start: var(--ch-notification-item-rtl-initial-X);
  }

  &.ch-notifications-position--top-center,
  &.ch-notifications-position--bottom-center {
    inset-inline-start: 50%;
    transform: translateX(-50%);
  }

  &.ch-notifications-position--top-end,
  &.ch-notifications-position--bottom-end {
    inset-inline-end: var(--ch-notification-item-rtl-initial-X);
  }

  &.ch-notifications-position--bottom-start,
  &.ch-notifications-position--bottom-center,
  &.ch-notifications-position--bottom-end {
    inset-block-end: var(--ch-notification-item-rtl-initial-Y);	
  }
}
