$bar-width: 4px;
$bar-half-width: $bar-width / 2;

$bar-item-width: 20px;
$bar-item-height: 70px;
$bar-item-half-width: $bar-item-width / 2;
$bar-item-half-height: $bar-item-height / 2;

$bar-item-border-radius: $bar-item-width / 2;

*,
::before,
::after {
  box-sizing: border-box;
}

:host {
  display: flex;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.bar {
  position: relative;
  width: $bar-width;
  background-color: #323942;
  cursor: col-resize;
}

.bar-item {
  position: absolute;
  inset-block-start: calc(50% - #{$bar-item-half-height});
  inset-inline-start: calc(#{$bar-half-width} - #{$bar-item-half-width});
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d333a;
  border-radius: $bar-item-border-radius;
  width: $bar-item-width;
  height: $bar-item-height;
  padding: 7px 4px;

  // Avoid zooming on double click
  touch-action: manipulation;

  // Disable text selection
  user-select: none;
}

.bar-item-src {
  display: block;
  width: 100%;
  height: 100%;

  pointer-events: none;

  &--rtl {
    transform: rotateY(180deg);
  }
}

.start-component {
  display: flex;
  width: var(--ch-drag-bar__start-component-width);
  max-width: calc(100% - #{$bar-item-half-width} - #{$bar-half-width});
}

.end-component {
  display: flex;
  flex: 1;
}
