*,
::before,
::after {
  box-sizing: border-box;
}

:host {
  --ch-drag-bar-inline-size: 5px;
  --ch-drag-bar-inline-size--half: var(--ch-drag-bar-inline-size) / 2;

  display: grid;
  position: relative;
  block-size: 100%;
  inline-size: 100%;
}

.bar {
  position: absolute;
  inset-block: 0;
  inset-inline-start: calc(
    var(--ch-drag-bar__inset-inline-start) -
      var(--ch-drag-bar-inline-size--half)
  );
  inline-size: var(--ch-drag-bar-inline-size);
  background-color: currentColor;
  cursor: ew-resize;
  opacity: 0;
  transition: opacity 120ms linear 200ms;

  &:hover,
  &:active {
    opacity: 1;
  }
}
