*,
::before,
::after {
  box-sizing: border-box;
}

:host {
  --ch-drag-bar-inline-size: 5px;
  --ch-drag-bar-inline-size--half: var(--ch-drag-bar-inline-size) / 2;

  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.bar {
  position: absolute;
  inset-block: 0;
  inset-inline-start: calc(
    var(--ch-drag-bar__start-component-width) -
      var(--ch-drag-bar-inline-size--half)
  );
  inline-size: var(--ch-drag-bar-inline-size);
  background-color: currentColor;
  cursor: ew-resize;
  opacity: 0;
  transition: opacity 120ms linear 200ms;

  &:hover {
    opacity: 1;
  }
}

.start-component {
  display: flex;
  width: var(--ch-drag-bar__start-component-width);
  max-width: calc(100% - var(--ch-drag-bar-inline-size--half));
}

.end-component {
  display: flex;
  flex: 1;
}
