ch-showcase {
  display: grid;
  grid-template-rows: max-content 1fr;
  margin: var(--spacing-un-spacing--l, var(--mer-spacing--md));
  gap: var(--spacing-un-spacing--l, var(--mer-spacing--md));

  & > iframe {
    display: grid;
    block-size: 100%;
    inline-size: 100%;
  }
}
