@import "../../../components/math-viewer/scss-for-distribution/math-viewer-font-faces.scss";

@include math-viewer-font-faces();

ch-showcase {
  display: contents;
}

.barcode-scanner-test-main-wrapper {
  display: grid;
  grid-template-rows: 1fr max-content;
  gap: var(--spacing--m, var(--mer-spacing--xs));
}
