@import "../../common/base";
@import "../../common/icons";

// - - - - - - - - - - - - - - - -
//         Caption button
// - - - - - - - - - - - - - - - -
@include button-reset();

@include box-sizing();

$z-index-gx-navbar-item: 107; // Same as $z-index-gx-navbar-item from w-c-l

:host {
  --ch-tab-transition-duration: 150ms;
  --ch-tab-mask-image-size: 100%;
  --ch-tab-image-size: 18px;

  /**
   * @prop --ch-tab-close-button__image-size:
   * Specifies the box size that contains an image for the close button.
   * @default #{$default-decorative-image-size}
   */
  --ch-tab-close-button__image-size: #{$default-decorative-image-size};

  /**
    * @prop --ch-tab-close-button__background-image-size:
    * Specifies the image size of the close button.
    * @default 100%
    */
  --ch-tab-close-button__background-image-size: 100%;

  display: grid;
  block-size: 100%;
}

:host(.ch-tab-direction--block) {
  grid-template-rows: max-content 1fr;
}

:host(.ch-tab-direction--inline) {
  grid-template-columns: max-content 1fr;
}

.sortable {
  // Allow user drag
  -webkit-user-drag: element;
}

.caption-image,
.decorative-image::before {
  display: block;
  block-size: var(--ch-tab-image-size);
  inline-size: var(--ch-tab-image-size);
}

.decorative-image::before {
  content: "";
  -webkit-mask: var(--ch-tab-decorative-image) 50% 50% /
    var(--ch-tab-mask-image-size) var(--ch-tab-mask-image-size) no-repeat;
  background-color: currentColor;
}

.close-button {
  &::after {
    content: "";
    display: flex;
    block-size: var(--ch-tab-close-button__image-size);
    inline-size: var(--ch-tab-close-button__image-size);
    -webkit-mask: no-repeat center /
      var(--ch-tab-close-button__background-image-size) #{$close-icon};
    background-color: currentColor;
    opacity: 0;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover > .close-button::after,
  &:focus-within > .close-button::after,
  &[aria-selected="true"] > .close-button::after {
    opacity: 1;
  }
}

.no-captions {
  justify-content: center;
}

// - - - - - - - - - - - - - - - -
//          Drag preview
// - - - - - - - - - - - - - - - -
// "Hide" the dragged element, without removing it from the accessibility tree
.dragged-element {
  opacity: 0;

  &--outside {
    display: none;
  }
}

.drag-preview {
  // "clamp" implements snap to the edges
  --ch-tab-snap-drag-preview: clamp(
    var(--ch-tab-list-start),
    var(--ch-tab-mouse-position),
    var(--ch-tab-list-end)
  );

  position: fixed;
  left: 0; // Necessary since the custom vars are physical values
  top: 0; // Necessary since the custom vars are physical values
  z-index: $z-index-gx-navbar-item + 1;

  &:popover-open {
    // Reset popover's browser defaults
    padding: 0;
    margin: 0;
    border: unset;
    color: unset;

    // Native popovers have "inset: 0", so we need to reset that property with
    // the physical values again to support RTL
    inset: unset;
    left: 0;
    top: 0;

    // The preview MUST NOT capture pointer-events in order to properly show
    // the droppable areas
    pointer-events: none;
  }

  &-element {
    cursor: grabbing;
  }

  // Drag outside
  &--outside-tab-list {
    transform: translate(
      calc(var(--ch-tab-mouse-position-x) - var(--ch-tab-mouse-offset-x)),
      calc(var(--ch-tab-mouse-position-y) - var(--ch-tab-mouse-offset-y))
    );
  }

  // Drag inside (block)
  &--inside-tab-list__block {
    --ch-tab-mouse-position: calc(
      var(--ch-tab-mouse-position-x) - var(--ch-tab-mouse-offset-x)
    );

    transform: translate(
      var(--ch-tab-snap-drag-preview),
      var(--ch-tab-button-position-y)
    );
  }

  // Drag inside (inline)
  &--inside-tab-list__inline {
    --ch-tab-mouse-position: calc(
      var(--ch-tab-mouse-position-y) - var(--ch-tab-mouse-offset-y)
    );

    transform: translate(
      var(--ch-tab-button-position-x),
      var(--ch-tab-snap-drag-preview)
    );
  }
}

.shifted-element {
  transition: transform var(--ch-tab-transition-duration);
}

:host(.ch-tab-direction--block) {
  .shifted-element--start {
    transform: translate(calc(var(--ch-tab-button-size) * -1), 0);
  }

  .shifted-element--end {
    transform: translate(var(--ch-tab-button-size), 0);
  }
}

:host(.ch-tab-direction--inline) {
  .shifted-element--start {
    transform: translateY(calc(var(--ch-tab-button-size) * -1));
  }

  .shifted-element--end {
    transform: translateY(var(--ch-tab-button-size));
  }
}

// - - - - - - - - - - - - - - - -
//            Tab lists
// - - - - - - - - - - - - - - - -
:host([direction="inline"]) > .tab-list {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
}

:host([direction="block"]) > .tab-list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
}

.page {
  display: grid;
}

.page-container {
  display: grid;
  grid-template: "selected" 1fr / 1fr;
  block-size: 100%;
  inline-size: 100%;
}

.page--selected {
  grid-area: selected;
}

// content-visibility: hidden is faster for rendering the content back, as
// it preserves the rendering state of the content (display: none does not)
@supports (content-visibility: hidden) {
  .page-container--collapsed,
  .page--hidden {
    content-visibility: hidden;
  }

  .page-container--collapsed {
    inline-size: 0;
  }
}

@supports not (content-visibility: hidden) {
  .page-container--collapsed,
  .page--hidden {
    display: none; // Destroys the render state. Ctrl + Z and Ctrl + C won't work properly
  }
}
