:host(:not([hidden])) {
  display: contents;
}
:host(:is(:not([modal]), [modal="false"])) .mask {
  pointer-events: none;
}

.window {
  pointer-events: all;
}

.mask {
  display: flex;
  position: fixed;
  inset: 0;
  z-index: var(--ch-window-mask-z-index, 1000);

  :host(:is([x-align="outside-start"], [x-align="inside-start"])) & {
    justify-content: flex-start;
  }
  :host([x-align="center"]) & {
    justify-content: center;
  }
  :host(:is([x-align="outside-end"], [x-align="inside-end"])) & {
    justify-content: flex-end;
  }
  :host(:is([y-align="outside-start"], [y-align="inside-start"])) & {
    align-items: flex-start;
  }
  :host([y-align="center"]) & {
    align-items: center;
  }
  :host(:is([y-align="outside-end"], [y-align="inside-end"])) & {
    align-items: flex-end;
  }
}

.window {
  display: flex;
  flex-direction: column;
  transform: translate(
      var(--ch-window-x-outside, 0px),
      var(--ch-window-y-outside, 0px)
    )
    translate(var(--ch-window-x-drag, 0px), var(--ch-window-y-drag, 0px));

  :host([x-align="outside-start"]) & {
    --ch-window-x-outside: -100%;
  }
  :host([x-align="outside-end"]) & {
    --ch-window-x-outside: 100%;
  }
  :host([y-align="outside-start"]) & {
    --ch-window-y-outside: -100%;
  }
  :host([y-align="outside-end"]) & {
    --ch-window-y-outside: 100%;
  }
}
