:host {
  scrollbar-color: orange orangered;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: orange;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: orangered;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: darkred;
}
