$img-size: 24px;

:where(a, button) {
  all: unset;
}

*,
::before,
::after {
  box-sizing: border-box;
}

:host {
  display: flex;
  width: 100%;
  height: 100%;
}

// Make the ch-dropdown control relative to the item
:host([force-containing-block]) {
  transform: translateX(0);
  --ch-window-relative-position: true;
}

.action {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: start;
}

.start-img,
.end-img {
  display: block;
  width: $img-size;
  height: $img-size;
  min-width: $img-size;
}

.content {
  width: 100%;
}
