@import "../../common/base";

:where(a, button) {
  all: unset;
}

// Must be placed after the ":where(a, button)"
@include box-sizing();

:host {
  --ch-dropdown-item__image-size: #{$default-decorative-image-size};

  display: flex;
  inline-size: 100%;
  block-size: 100%;
}

// Make the ch-dropdown control relative to the item
:host([force-containing-block]) {
  transform: translateX(0);
  --ch-popover-stay-in-the-same-layer: true;
}

.action {
  display: flex;
  align-items: center;
  inline-size: 100%;
  block-size: 100%;
  cursor: pointer;
  text-align: start;
}

// - - - - - - - - - - - - - - - -
//             Images
// - - - - - - - - - - - - - - - -
.start-img::before,
.end-img::after,
.start-img-part::part(expandable-button)::before,
.end-img-part::part(expandable-button)::after {
  content: "";
  display: block;
  inline-size: var(--ch-dropdown-item__image-size);
  block-size: var(--ch-dropdown-item__image-size);
  min-inline-size: var(--ch-dropdown-item__image-size);
}

.start-img::before,
.start-img-part::part(expandable-button)::before {
  background-image: var(--ch-dropdown-item-start-img);
  background-size: 100%;
}

.end-img::after,
.end-img-part::part(expandable-button)::after {
  background-image: var(--ch-dropdown-item-end-img);
  background-size: 100%;
}

.content {
  inline-size: 100%;
}
