@mixin math-viewer-font-faces(
  $baseUrl: "/assets/fonts/",
  $font-display: block
) {
  @font-face {
    font-family: KaTeX_AMS;
    src: url("#{$baseUrl}KaTeX_AMS-Regular.woff2");
    font-display: $font-display;
  }
  @font-face {
    font-family: KaTeX_Caligraphic;
    src: url("#{$baseUrl}KaTeX_Caligraphic-Bold.woff2");
    font-weight: 700;
    font-display: $font-display;
  }
  @font-face {
    font-family: KaTeX_Caligraphic;
    src: url("#{$baseUrl}KaTeX_Caligraphic-Regular.woff2");
    font-display: $font-display;
  }
  @font-face {
    font-family: KaTeX_Fraktur;
    src: url("#{$baseUrl}KaTeX_Fraktur-Bold.woff2");
    font-weight: 700;
    font-display: $font-display;
  }
  @font-face {
    font-family: KaTeX_Fraktur;
    src: url("#{$baseUrl}KaTeX_Fraktur-Regular.woff2");
    font-display: $font-display;
  }
  @font-face {
    font-family: KaTeX_Main;
    src: url("#{$baseUrl}KaTeX_Main-Bold.woff2");
    font-weight: 700;
    font-display: $font-display;
  }
  @font-face {
    font-family: KaTeX_Main;
    src: url("#{$baseUrl}KaTeX_Main-BoldItalic.woff2");
    font-weight: 700;
    font-style: italic;
    font-display: $font-display;
  }
  @font-face {
    font-family: KaTeX_Main;
    src: url("#{$baseUrl}KaTeX_Main-Italic.woff2");
    font-style: italic;
    font-display: $font-display;
  }
  @font-face {
    font-family: KaTeX_Main;
    src: url("#{$baseUrl}KaTeX_Main-Regular.woff2");
    font-display: $font-display;
  }
  @font-face {
    font-family: KaTeX_Math;
    src: url("#{$baseUrl}KaTeX_Math-BoldItalic.woff2");
    font-weight: 700;
    font-style: italic;
    font-display: $font-display;
  }
  @font-face {
    font-family: KaTeX_Math;
    src: url("#{$baseUrl}KaTeX_Math-Italic.woff2");
    font-style: italic;
    font-display: $font-display;
  }
  @font-face {
    font-family: KaTeX_SansSerif;
    src: url("#{$baseUrl}KaTeX_SansSerif-Bold.woff2");
    font-weight: 700;
    font-display: $font-display;
  }
  @font-face {
    font-family: KaTeX_SansSerif;
    src: url("#{$baseUrl}KaTeX_SansSerif-Italic.woff2");
    font-style: italic;
    font-display: $font-display;
  }
  @font-face {
    font-family: KaTeX_SansSerif;
    src: url("#{$baseUrl}KaTeX_SansSerif-Regular.woff2");
    font-display: $font-display;
  }
  @font-face {
    font-family: KaTeX_Script;
    src: url("#{$baseUrl}KaTeX_Script-Regular.woff2");
    font-display: $font-display;
  }
  @font-face {
    font-family: KaTeX_Size1;
    src: url("#{$baseUrl}KaTeX_Size1-Regular.woff2");
    font-display: $font-display;
  }
  @font-face {
    font-family: KaTeX_Size2;
    src: url("#{$baseUrl}KaTeX_Size2-Regular.woff2");
    font-display: $font-display;
  }
  @font-face {
    font-family: KaTeX_Size3;
    src: url("#{$baseUrl}KaTeX_Size3-Regular.woff2");
    font-display: $font-display;
  }
  @font-face {
    font-family: KaTeX_Size4;
    src: url("#{$baseUrl}KaTeX_Size4-Regular.woff2");
    font-display: $font-display;
  }
  @font-face {
    font-family: KaTeX_Typewriter;
    src: url("#{$baseUrl}KaTeX_Typewriter-Regular.woff2");
    font-display: $font-display;
  }
}
