[data-theme="Light"] {
  /* colors */
  --un-alert-error-background-color: var(--colors-foundation-un-color-red--100);
  --un-alert-notification-background-color: var(--colors-foundation-un-color-purple--10);
  --un-alert-success-background-color: var(--colors-foundation-un-color-green--100);
  --un-alert-warning-background-color: var(--colors-foundation-un-color-orange--100);
  --breadcrumb-un-breadcrumb-background-color: var(--colors-foundation-un-color-white);
  --chatbot-un-chatbot-bubble-background-color: var(--colors-foundation-un-color-gray--300);
  --chatbot-un-chatbot-header-background-color: var(--colors-foundation-un-color-purple--600);
  --header-un-header-primary-background-color: var(--colors-foundation-un-color-purple--600);
  --header-un-header-primary-background-color--active: var(--colors-foundation-un-color-purple--400);
  --header-un-header-primary-background-color--hover: var(--colors-foundation-un-color-purple--500);
  --header-un-header-primary-border-color: var(--colors-foundation-un-color-purple--100);
  --sidebar-un-sidebar-dropdown-background-color: var(--colors-foundation-un-color-purple--400);
  --sidebar-un-sidebar-background-color: var(--colors-foundation-un-color-purple--600);
  --sidebar-un-sidebar-background-color--active: var(--colors-foundation-un-color-purple--400);
  --sidebar-un-sidebar-background-color--hover: var(--colors-foundation-un-color-purple--500);
  --tag-un-tag-background-color--error: var(--colors-foundation-un-color-red--100);
  --tag-un-tag-background-color--primary: var(--colors-foundation-un-color-purple--10);
  --tag-un-tag-background-color--success: var(--colors-foundation-un-color-green--100);
  --tag-un-tag-background-color--warning: var(--colors-foundation-un-color-orange--100);
}
[data-theme="Dark"] {
  /* colors */
  --un-alert-error-background-color: var(--colors-foundation-un-color-white);
  --un-alert-notification-background-color: var(--colors-foundation-un-color-white);
  --un-alert-success-background-color: var(--colors-foundation-un-color-white);
  --un-alert-warning-background-color: var(--colors-foundation-un-color-white);
  --breadcrumb-un-breadcrumb-background-color: var(--colors-foundation-un-color-gray--200);
  --chatbot-un-chatbot-bubble-background-color: var(--colors-foundation-un-color-white);
  --chatbot-un-chatbot-header-background-color: var(--colors-foundation-un-color-white);
  --header-un-header-primary-background-color: var(--colors-foundation-un-color-white);
  --header-un-header-primary-background-color--active: var(--colors-foundation-un-color-gray--700);
  --header-un-header-primary-background-color--hover: var(--colors-foundation-un-color-gray--800);
  --header-un-header-primary-border-color: var(--colors-foundation-un-color-gray--300);
  --sidebar-un-sidebar-dropdown-background-color: var(--colors-foundation-un-color-white);
  --sidebar-un-sidebar-background-color: var(--colors-foundation-un-color-white);
  --sidebar-un-sidebar-background-color--active: var(--colors-foundation-un-color-gray--300);
  --sidebar-un-sidebar-background-color--hover: var(--colors-foundation-un-color-gray--400);
  --tag-un-tag-background-color--error: var(--colors-foundation-un-color-white);
  --tag-un-tag-background-color--primary: var(--colors-foundation-un-color-white);
  --tag-un-tag-background-color--success: var(--colors-foundation-un-color-white);
  --tag-un-tag-background-color--warning: var(--colors-foundation-un-color-white);
}
[data-theme="Light mode"] {
  /* colors */
  --colors-foundation-un-color-black: #121212;
  --colors-foundation-un-color-gray--100: #fafafa;
  --colors-foundation-un-color-gray--1000: #242426;
  --colors-foundation-un-color-gray--200: #f3f4f6;
  --colors-foundation-un-color-gray--300: #e0e0e0;
  --colors-foundation-un-color-gray--400: #c3c4c8;
  --colors-foundation-un-color-gray--500: #939498;
  --colors-foundation-un-color-gray--600: #575965;
  --colors-foundation-un-color-gray--700: #3e3e40;
  --colors-foundation-un-color-gray--800: #353537;
  --colors-foundation-un-color-gray--900: #2c2c2e;
  --colors-foundation-un-color-green--100: #e1f3f1;
  --colors-foundation-un-color-green--200: #02a08b;
  --colors-foundation-un-color-negative: var(--colors-foundation-un-color-black);
  --colors-foundation-un-color-orange--100: #ffe7e6;
  --colors-foundation-un-color-orange--200: #ff8000;
  --colors-foundation-un-color-positive: var(--colors-foundation-un-color-white);
  --colors-foundation-un-color-purple--10: #696ef21a;
  --colors-foundation-un-color-purple--100: #696ef2;
  --colors-foundation-un-color-purple--200: #413cd4;
  --colors-foundation-un-color-purple--300: #3015b0;
  --colors-foundation-un-color-purple--400: #2a2c5f;
  --colors-foundation-un-color-purple--500: #202143;
  --colors-foundation-un-color-purple--600: #13142c;
  --colors-foundation-un-color-red--100: #ffeaee;
  --colors-foundation-un-color-red--300: #f02031;
  --colors-foundation-un-color-white: #ffffff;
  --colors-query-viewer-01: #c53b3d;
  --colors-query-viewer-02: #9c3725;
  --colors-query-viewer-03: #f57a4d;
  --colors-query-viewer-04: #fbbc58;
  --colors-query-viewer-05: #a7e9e1;
  --colors-query-viewer-06: #2ed3c6;
  --colors-query-viewer-07: #095d6a;
  --colors-query-viewer-08: #182f53;
  --colors-query-viewer-09: #8d89a3;
  --colors-query-viewer-10: #aa6890;
  --elevation-un-elevation--1: var(--colors-foundation-un-color-white);
  --elevation-un-elevation--2: var(--colors-foundation-un-color-white);
  --elevation-un-elevation--3: var(--colors-foundation-un-color-white);
  --elevation-un-elevation--4: var(--colors-foundation-un-color-white);
  --surface-un-surface--alternative: var(--colors-foundation-un-color-gray--200);
  --surface-un-surface--positive: var(--colors-foundation-un-color-white);
  /* numbers */
  --border-radius-un-border-radius--0: 0px;
  --border-radius-un-border-radius--xs: 1px;
  --border-radius-un-border-radius--s: 2px;
  --border-radius-un-border-radius--m: 4px;
  --border-radius-un-border-radius--l: 8px;
  --border-radius-un-border-radius--xl: 16px;
  --border-radius-un-border-radius--xxl: 32px;
  --font-sizes-un-font-size--m: 16px;
  --spacing-un-spacing--0: 0px;
  --spacing-un-spacing--xs: 2px;
  --spacing-un-spacing--s: 4px;
  --spacing-un-spacing--m: 8px;
  --spacing-un-spacing--l: 16px;
  --spacing-un-spacing--xl: 24px;
  --spacing-un-spacing--xxl: 32px;
}
[data-theme="Dark mode"] {
  /* colors */
  --colors-foundation-un-color-black: #121212;
  --colors-foundation-un-color-gray--100: #323234;
  --colors-foundation-un-color-gray--1000: #242426;
  --colors-foundation-un-color-gray--200: #1c1c1e;
  --colors-foundation-un-color-gray--300: #575965;
  --colors-foundation-un-color-gray--400: #939498;
  --colors-foundation-un-color-gray--500: #c3c4c8;
  --colors-foundation-un-color-gray--600: #e0e0e0;
  --colors-foundation-un-color-gray--700: #3e3e40;
  --colors-foundation-un-color-gray--800: #353537;
  --colors-foundation-un-color-gray--900: #2c2c2e;
  --colors-foundation-un-color-green--100: #e1f3f1;
  --colors-foundation-un-color-green--200: #50beae;
  --colors-foundation-un-color-negative: var(--colors-foundation-un-color-white);
  --colors-foundation-un-color-orange--100: #ffe7e6;
  --colors-foundation-un-color-orange--200: #ffab13;
  --colors-foundation-un-color-positive: var(--colors-foundation-un-color-black);
  --colors-foundation-un-color-purple--10: #a9acf81a;
  --colors-foundation-un-color-purple--100: #a9acf8;
  --colors-foundation-un-color-purple--200: #ccccfb;
  --colors-foundation-un-color-purple--300: #858af6;
  --colors-foundation-un-color-purple--400: #666483;
  --colors-foundation-un-color-purple--500: #53516e;
  --colors-foundation-un-color-purple--600: #34334e;
  --colors-foundation-un-color-red--100: #ffeaee;
  --colors-foundation-un-color-red--300: #f9464e;
  --colors-foundation-un-color-white: #ffffff;
  --colors-query-viewer-01: #d8777b;
  --colors-query-viewer-02: #da553b;
  --colors-query-viewer-03: #f8af96;
  --colors-query-viewer-04: #fde2b6;
  --colors-query-viewer-05: #dcf6f4;
  --colors-query-viewer-06: #96e4dc;
  --colors-query-viewer-07: #2eb7de;
  --colors-query-viewer-08: #345a8c;
  --colors-query-viewer-09: #b9b7c8;
  --colors-query-viewer-10: #c490af;
  --elevation-un-elevation--1: var(--colors-foundation-un-color-gray--1000);
  --elevation-un-elevation--2: var(--colors-foundation-un-color-gray--900);
  --elevation-un-elevation--3: var(--colors-foundation-un-color-gray--800);
  --elevation-un-elevation--4: var(--colors-foundation-un-color-gray--700);
  --surface-un-surface--alternative: var(--colors-foundation-un-color-gray--200);
  --surface-un-surface--positive: var(--colors-foundation-un-color-black);
  /* numbers */
  --border-radius-un-border-radius--0: 0px;
  --border-radius-un-border-radius--xs: 1px;
  --border-radius-un-border-radius--s: 2px;
  --border-radius-un-border-radius--m: 4px;
  --border-radius-un-border-radius--l: 8px;
  --border-radius-un-border-radius--xl: 16px;
  --border-radius-un-border-radius--xxl: 32px;
  --font-sizes-un-font-size--m: 16px;
  --spacing-un-spacing--0: 0px;
  --spacing-un-spacing--xs: 2px;
  --spacing-un-spacing--s: 4px;
  --spacing-un-spacing--m: 8px;
  --spacing-un-spacing--l: 16px;
  --spacing-un-spacing--xl: 24px;
  --spacing-un-spacing--xxl: 32px;
}
[data-theme="Tokens"] {
  /* colors */
  --accents-un-accent-destructive: var(--colors-foundation-un-color-red--300);
  --accents-un-accent-disabled: var(--colors-foundation-un-color-gray--400);
  --accents-un-accent-primary: var(--colors-foundation-un-color-purple--100);
  --accents-un-accent-primary--active: var(--colors-foundation-un-color-purple--300);
  --accents-un-accent-primary--hover: var(--colors-foundation-un-color-purple--200);
  --accents-un-accent-primary-dim--hover: var(--colors-foundation-un-color-purple--10);
  --accents-un-accent-secondary: var(--colors-foundation-un-color-purple--600);
  --accents-un-accent-secondary--active: var(--colors-foundation-un-color-purple--400);
  --accents-un-accent-secondary--hover: var(--colors-foundation-un-color-purple--500);
  --body-texts-un-body-m-font-color--gray: var(--colors-foundation-un-color-gray--500);
  --body-texts-un-body-m-font-color--positive: var(--colors-foundation-un-color-black);
  --body-texts-un-body-s-font-color--gray: var(--colors-foundation-un-color-gray--500);
  --body-texts-un-body-s-font-color--positive: var(--colors-foundation-un-color-black);
  --borders-un-border-color-destructive: var(--colors-foundation-un-color-red--300);
  --borders-un-border-color-disabled: var(--colors-foundation-un-color-gray--400);
  --borders-un-border-color-error: var(--colors-foundation-un-color-red--300);
  --borders-un-border-color-focused: var(--colors-foundation-un-color-purple--600); 
  --borders-un-border-color-mild: var(--colors-foundation-un-color-gray--300);
  --borders-un-border-color-primary: var(--colors-foundation-un-color-purple--100);
  --borders-un-border-color-primary--active: var(--colors-foundation-un-color-purple--300);
  --borders-un-border-color-primary--hover: var(--colors-foundation-un-color-purple--200);
  --borders-un-border-color-strong: var(--colors-foundation-un-color-gray--600);
  --borders-un-border-color-success: var(--colors-foundation-un-color-green--200);
  --borders-un-border-color-warning: var(--colors-foundation-un-color-orange--200);
  --headings-un-h1-font-color--positive: var(--colors-foundation-un-color-black);
  --icons-un-icon-destructive: var(--colors-foundation-un-color-red--300);
  --icons-un-icon-disabled: var(--colors-foundation-un-color-gray--400);
  --icons-un-icon-error: var(--colors-foundation-un-color-red--300);
  --icons-un-icon-on-alert: var(--colors-foundation-un-color-white);
  --icons-un-icon-on-disabled: var(--colors-foundation-un-color-gray--300);
  --icons-un-icon-on-primary: var(--colors-foundation-un-color-white);
  --icons-un-icon-on-secondary: var(--colors-foundation-un-color-white);
  --icons-un-icon-on-surface--positive: var(--colors-foundation-un-color-black);
  --icons-un-icon-primary: var(--colors-foundation-un-color-purple--100);
  --icons-un-icon-primary--active: var(--colors-foundation-un-color-purple--300);
  --icons-un-icon-primary--hover: var(--colors-foundation-un-color-purple--200);
  --icons-un-icon-success: var(--colors-foundation-un-color-green--200);
  --icons-un-icon-warning: var(--colors-foundation-un-color-orange--200);
  --link-un-link-font-color: var(--colors-foundation-un-color-purple--100);
  --text-un-text-destructive: var(--colors-foundation-un-color-red--300);
  --text-un-text-disabled: var(--colors-foundation-un-color-gray--400);
  --text-un-text-error: var(--colors-foundation-un-color-red--300);
  --text-un-text-on-alert: var(--colors-foundation-un-color-white);
  --text-un-text-on-disabled: var(--colors-foundation-un-color-gray--300);
  --text-un-text-on-primary: var(--colors-foundation-un-color-white);
  --text-un-text-on-secondary: var(--colors-foundation-un-color-white);
  --text-un-text-on-surface--alternative: var(--colors-foundation-un-color-black);
  --text-un-text-on-surface--negative: var(--colors-foundation-un-color-white);
  --text-un-text-on-surface--positive: var(--colors-foundation-un-color-black);
  --text-un-text-primary: var(--colors-foundation-un-color-purple--100);
  --text-un-text-primary--active: var(--colors-foundation-un-color-purple--300);
  --text-un-text-primary--hover: var(--colors-foundation-un-color-purple--200);
}