@layer ch-grid {
    ch-grid-virtual-scroller {
      display: contents;
    }
    ch-grid-virtual-scroller::before {
      content: '';
      height: 0;
      padding-top: inherit;
      grid-column: 1 / -1;
      grid-row: 2;
    }
    ch-grid-virtual-scroller::after {
      content: '';
      height: 0;
      padding-bottom: inherit;
      grid-column: 1 / -1;
    }
  }