@layer ch-grid {
  ch-grid:has(ch-grid-virtual-scroller) {
    box-sizing: content-box !important;
  }
  ch-grid:has(ch-grid-virtual-scroller[has-window-scroll]) {
    height: var(--ch-grid-virtual-scroller-height);
  }

  ch-grid:has(ch-grid-virtual-scroller[has-grid-scroll])::part(main) {
    grid-template-rows: auto var(--ch-grid-virtual-scroller-height);
  }

  ch-grid:has(ch-grid-virtual-scroller[has-window-scroll])::part(main) {
    block-size: auto;
    position: sticky;
    top: 0px;
    margin-bottom: auto;
  }

  ch-grid-virtual-scroller {
    display: grid;
    height: max-content;

    grid-auto-rows: max-content;
    grid-column: 1 / -1;
    grid-row: 2;
    grid-template-columns: subgrid;
  }

  ch-grid-virtual-scroller[has-grid-scroll] {
    position: sticky;
    top: 0px;
  }
}
