// - - - - - - - - - - - - - - - -
//          Base styling
// - - - - - - - - - - - - - - - -
@mixin box-sizing() {
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }
}

@mixin reset-browser-defaults-properties-1() {
  background-color: unset;
  border: none;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  outline: 0;
}

@mixin line-clamp() {
  // Used to measure the box height, in order to make the lines clampable
  .height-measuring {
    display: flex;
    width: 0;
    height: 100%;
    visibility: hidden;
  }

  .line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    overflow: hidden;
  }

  // Used to measure the line height, in order to make the lines clampable
  .line-measuring {
    visibility: hidden;
    position: absolute;
  }
}
