$expandable-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="none"><path d="M16.5 5L8.7 12.7L1 5" stroke="%23000" stroke-width="1.2" stroke-linecap="round"/></svg>');

$unpin-outlined: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9.8 7.36V5.6H9V4H17V5.6H16.2V12L17.8 13.6V15.2H17.64L14.6 12.16V5.6H11.4V8.96L9.8 7.36ZM19.4 18.96L18.36 20L13.64 15.28V20H12.36V15.2H8.2V13.6L9.8 12V11.44L5 6.64L6.04 5.6L19.4 18.96ZM10.44 13.6H11.88L11.16 12.88L10.44 13.6Z"/></svg>');
$pin-outlined: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15 12V5.6H15.8V4H7.8V5.6H8.6V12L7 13.6V15.2H11.16V20H12.44V15.2H16.6V13.6L15 12ZM9.24 13.6L10.2 12.64V5.6H13.4V12.64L14.36 13.6H9.24Z"/></svg>');

// - - - - - - - - - - - - - - - -
//             Images
// - - - - - - - - - - - - - - - -
/// @param {String} $start-image-path-custom-var [""] -
/// @param {String} $end-image-path-custom-var [""] -
/// @param {String} $image-size-custom-var [""] -
/// @param {String} $background-image-size-custom-var [""] -
@mixin images-with-pseudo-elements(
  $start-image-path-custom-var: "",
  $end-image-path-custom-var: "",
  $image-size-custom-var: "",
  $background-image-size-custom-var: ""
) {
  .pseudo-img--start::before,
  .pseudo-img--end::after,
  .img {
    display: inline-block;
    inline-size: #{$image-size-custom-var};
    block-size: #{$image-size-custom-var};
    content-visibility: auto;
    contain-intrinsic-size: auto #{$image-size-custom-var};
  }

  .pseudo-img--start::before,
  .img--start {
    grid-area: start-img;
    --ch-img: #{$start-image-path-custom-var};
  }

  .pseudo-img--end::after,
  .img--end {
    grid-area: end-img;
    --ch-img: #{$end-image-path-custom-var};
  }

  // Background
  .start-img-type--background::before,
  .end-img-type--background::after {
    content: "";
    background: no-repeat center / #{$background-image-size-custom-var} var(--ch-img);
  }

  // Mask
  .start-img-type--mask::before,
  .end-img-type--mask::after {
    content: "";
    -webkit-mask: no-repeat center / #{$background-image-size-custom-var} var(--ch-img);
    background-color: currentColor;
  }
}

// - - - - - - - - - - - - - - - -
//             Images
// - - - - - - - - - - - - - - - -
/// @param {String} $image-path-custom-var [""] -
/// @param {String} $image-size-custom-var [""] -
/// @param {String} $background-image-size-custom-var [""] -
@mixin images-without-pseudo-elements(
  $image-path-custom-var: "",
  $end-image-path-custom-var: "",
  $image-size-custom-var: "",
  $background-image-size-custom-var: ""
) {
  .img {
    display: inline-block;
    inline-size: #{$image-size-custom-var};
    block-size: #{$image-size-custom-var};
    content-visibility: auto;
    contain-intrinsic-size: auto #{$image-size-custom-var};
  }

  // Background
  .img-type--background {
    background: no-repeat center / #{$background-image-size-custom-var} #{$image-path-custom-var};
  }

  // Mask
  .img-type--mask {
    -webkit-mask: no-repeat center / #{$background-image-size-custom-var} #{$image-path-custom-var};
    background-color: currentColor;
  }
}
