@import "../base/typography";
@import "../base/common";
@import "../base/button";

@mixin markdown() {
  .markdown {
    @extend %text-body-2;

    // - - - - - - - - - - - - - - - - - - - -
    //                 Heading
    // - - - - - - - - - - - - - - - - - - - -
    h1 {
      @extend %heading-1;
      margin-block: var(--spacing-un-spacing--l) var(--spacing-un-spacing--m);
      padding-block-end: var(--spacing-un-spacing--m);
    }

    h2 {
      @extend %heading-2;
      margin-block: 12px 6px; // It does not exists the --spacing-un-spacing--xm value
      padding-block-end: 6px; // It does not exists the --spacing-un-spacing--xm value
    }

    h3 {
      @extend %heading-3;
      margin-block: var(--spacing-un-spacing--m) var(--spacing-un-spacing--s);
      padding-block-end: var(--spacing-un-spacing--s);
    }

    h4 {
      @extend %heading-4;
      margin-block: var(--spacing-un-spacing--s) var(--spacing-un-spacing--xs);
      padding-block-end: var(--spacing-un-spacing--xs);
    }

    h5 {
      @extend %heading-4; // WA to improve visualization
      margin-block: var(--spacing-un-spacing--s) var(--spacing-un-spacing--xs);
      padding-block-end: var(--spacing-un-spacing--xs);
    }

    h6 {
      @extend %heading-4; // WA to improve visualization
      margin-block: var(--spacing-un-spacing--s) var(--spacing-un-spacing--xs);
      padding-block-end: var(--spacing-un-spacing--xs);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      border-block-end: 1px solid var(--body-texts-un-body-m__font-color--gray);
    }

    p,
    ul,
    ol,
    table,
    pre {
      margin-block: var(--spacing-un-spacing--m);
    }

    ul,
    ol {
      padding-inline-start: var(--spacing-un-spacing--xxl);
    }

    a {
      @extend %text-link;
    }

    blockquote {
      margin-block: var(--spacing-un-spacing--m);
      margin-inline: 0;
      padding-block: var(--spacing-un-spacing--m);
      padding-inline: calc(var(--spacing-un-spacing--xxl) - 4px)
        var(--spacing-un-spacing--xxl);
      border-inline-start: 4px solid
        var(--colors-foundation-un-color__gray--400);

      // First <p> don't add margin-block-start, because the <blockquote> adds it
      & > p:first-of-type {
        margin-block-start: 0;
      }

      // Last <p> don't add margin-block-end, because the <blockquote> adds it
      & > p:last-of-type {
        margin-block-end: 0;
      }
    }

    strong {
      font-weight: unset;
      font-family: SourceSansPro_Bold;
    }

    // - - - - - - - - - - - - - - - - - - - -
    //                  Table
    // - - - - - - - - - - - - - - - - - - - -
    // Table
    table {
      display: block;
      inline-size: max-content;
      border: 1px solid var(--borders-un-border-color__mild);
      border-spacing: 0;

      & > thead > tr {
        @extend %heading-4;
        font-weight: unset;
      }
    }

    // Cells
    td {
      border-block-start: 1px solid var(--borders-un-border-color__mild);
    }

    // Header and body cells
    th,
    td {
      padding: var(--spacing-un-spacing--m);
      border-inline-start: 1px solid var(--borders-un-border-color__mild);
    }

    // Remove left border in the first cell of each row
    tr > td:first-child,
    tr > th:first-child {
      border-inline-start: unset;
    }

    thead > tr,
    tbody > tr:nth-child(2n) {
      background-color: var(--colors-foundation-un-color__gray--100);
    }

    // - - - - - - - - - - - - - - - - - - - -
    //                  Code
    // - - - - - - - - - - - - - - - - - - - -
    // Multiline code
    pre > code {
      display: block;
      overflow: auto;

      padding: 0;

      // Override inline border-radius
      border: 1px solid var(--borders-un-border-color__mild);
      border-radius: var(--border-radius-un-border__radius--m);

      & > .code-block__header {
        display: grid;
        grid-template-columns: 1fr max-content;
        align-items: center;
        padding-inline: var(--spacing-un-spacing--l);
        padding-block: var(--spacing-un-spacing--m);
        background-color: var(--surface-un-surface--alternative);
        font-family: SourceSansPro_Regular;
      }

      & > .code-block__content {
        // Override inline padding
        padding: var(--spacing-un-spacing--l);
      }
    }

    // Inline code
    code {
      padding-block: var(--spacing-un-spacing--xs);
      padding-inline: var(--spacing-un-spacing--s);

      background-color: var(
        --surface-un-surface--positive
      ); // color-mix(in srgb, var(--surface-un-surface--alternative) 70%, var(--colors-foundation-un-color__gray--100))
      border-radius: var(--border-radius-un-border__radius--s);
      font-size: calc(1em - 2px);
    }

    img {
      display: inline-block;
      max-inline-size: 25%;
    }

    .hljs-doctag,
    .hljs-keyword,
    .hljs-meta .hljs-keyword,
    .hljs-template-tag,
    .hljs-template-variable,
    .hljs-type,
    .hljs-variable.language_ {
      /* prettylights-syntax-keyword */
      color: var(
        --colors-foundation-un-color__purple--400
      ); /* Light var(--colors-foundation-un-color__purple--100); */
    }

    .hljs-title,
    .hljs-title.class_,
    .hljs-title.class_.inherited__,
    .hljs-title.function_ {
      color: var(--text-un-text__on-surface--alternative);
    }

    .hljs-attr,
    .hljs-attribute,
    .hljs-literal,
    .hljs-meta,
    .hljs-number,
    .hljs-operator,
    .hljs-variable,
    .hljs-selector-attr,
    .hljs-selector-class,
    .hljs-selector-id {
      color: var(
        --colors-foundation-un-color__purple--200
      ); /* Previously: --text-un-text__primary */
    }

    .hljs-regexp,
    .hljs-string,
    .hljs-meta .hljs-string {
      color: var(
        --colors-foundation-un-color__orange--200
      ); /* DARK: color-mix(in srgb, var(--colors-foundation-un-color__red--300) 60%, #000) */
    }

    .hljs-built_in,
    .hljs-symbol {
      /* prettylights-syntax-variable */
      color: #e36209;
    }

    .hljs-comment,
    .hljs-code,
    .hljs-formula {
      color: var(--colors-foundation-un-color__green--200);
    }

    .hljs-name,
    .hljs-quote,
    .hljs-selector-tag,
    .hljs-selector-pseudo {
      color: var(--colors-foundation-un-color__green--200);
    }

    .hljs-subst {
      /* prettylights-syntax-storage-modifier-import */
      color: #24292e;
    }

    .hljs-section {
      /* prettylights-syntax-markup-heading */
      color: #005cc5;
      font-weight: bold;
    }

    .hljs-bullet {
      /* prettylights-syntax-markup-list */
      color: #735c0f;
    }

    .hljs-emphasis {
      /* prettylights-syntax-markup-italic */
      color: #24292e;
      font-style: italic;
    }

    .hljs-strong {
      /* prettylights-syntax-markup-bold */
      color: #24292e;
      font-weight: bold;
    }

    .hljs-addition {
      /* prettylights-syntax-markup-inserted */
      color: #22863a;
      background-color: #f0fff4;
    }

    .hljs-deletion {
      /* prettylights-syntax-markup-deleted */
      color: #b31d28;
      background-color: #ffeef0;
    }

    .hljs-char.escape_,
    .hljs-link,
    .hljs-params,
    .hljs-property,
    .hljs-punctuation,
    .hljs-tag {
      /* purposely ignored */
    }
  }
}
