@import "../helpers/styles.scss";

@layer ch-tabular-grid {
  ch-tabular-grid-cell {
    position: sticky;
    grid-column: var(--grid-column);
    @include column-drag-transition;
  }

  ch-tabular-grid-cell[selected] {
    --ch-tabular-grid-cell-z-index-active: var(
      --ch-tabular-grid-cell-active-layer
    );
  }

  ch-tabular-grid-cell,
  ch-tabular-grid-row[selected] > ch-tabular-grid-cell,
  ch-tabular-grid-row[highlighted] > ch-tabular-grid-cell {
    @include box-simulation;
  }

  ch-tabular-grid-cell:before {
    margin-inline-start: calc(var(--indent) * var(--level));
  }

  ch-tabular-grid-cell::part(indent) {
    width: calc(var(--indent) * var(--level));
  }

  ch-tabular-grid-cell::part(caret) {
    visibility: hidden;
  }
}
