:host {
  display: flex;

  button {
    padding: 0px;
    border: 0px none transparent;
    background-color: transparent;
    box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
  }

  .navigation {
    display: contents;

    .first {
      order: 1;
    }
    .previous {
      order: 2;
    }
    .next {
      order: 4;
    }
    .last {
      order: 5;
    }
  }

  .pages {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    align-items: center;
    order: 3;
  }

  @at-root #{&}([navigation-position="left"]) {
    .navigation {
      .first {
        order: 1;
      }
      .previous {
        order: 2;
      }
      .next {
        order: 3;
      }
      .last {
        order: 4;
      }
    }
    .pages {
      order: 5;
    }
  }
  @at-root #{&}([navigation-position="right"]) {
    .navigation {
      .first {
        order: 2;
      }
      .previous {
        order: 3;
      }
      .next {
        order: 4;
      }
      .last {
        order: 5;
      }
    }
    .pages {
      order: 1;
    }
  }
}
