@mixin spacing() {
  --spacing-un-spacing--0: 0px;
  --spacing-un-spacing--xs: 2px;
  --spacing-un-spacing--s: 4px;
  --spacing-un-spacing--m: 8px;
  --spacing-un-spacing--l: 16px;
  --spacing-un-spacing--xl: 24px;
  --spacing-un-spacing--xxl: 32px;
}
