@import "../../common/_base";

@include input-reset();
@include box-sizing();

:host {
  // Track defaults
  --ch-slider-selected-track-background-color: color-mix(
    in srgb,
    currentColor 15%,
    transparent
  );

  --ch-slider-unselected-track-background-color: color-mix(
    in srgb,
    currentColor 15%,
    transparent
  );

  // Thumb defaults
  --ch-slider-thumb-size: clamp(8px, 1.5em, 24px);

  --ch-slider-thumb-background-color: currentColor;

  --ch-slider-track-block-size: clamp(3px, 0.25em, 16px);

  display: inline-grid;
}

.position-absolute-wrapper {
  display: grid;
  position: relative;
  block-size: fit-content;
}

.slider {
  display: grid;
  block-size: var(--ch-slider-track-block-size);
  cursor: pointer;

  // Reset browser defaults
  appearance: none;
  opacity: 0;

  // &::after {
  //   inline-size: var(--slider-unselected-value);
  //   inset-inline-end: 0;
  // }

  // - - - - - - - - - - - - - - - -
  //              Thumb
  // - - - - - - - - - - - - - - - -
  &::-webkit-slider-thumb {
    appearance: none;
    inline-size: var(--ch-slider-thumb-size);
    block-size: var(--ch-slider-thumb-size);
    opacity: 0;
  }

  &::-moz-range-thumb {
    appearance: none;
    inline-size: var(--ch-slider-thumb-size);
    block-size: var(--ch-slider-thumb-size);
    opacity: 0;
  }
}

// - - - - - - - - - - - - - - - -
//              Track
// - - - - - - - - - - - - - - - -
.track {
  display: flex;
  position: absolute;
  color: inherit;
  inline-size: 100%;
  block-size: var(--ch-slider-track-block-size);
  overflow: hidden;
  pointer-events: none; // Remove pointer-events to allow the hidden input to be interactive
}

.track--selected {
  background-color: var(--ch-slider-selected-track-background-color);
  inline-size: var(--slider-selected-value);
  block-size: 100%;
}

.track--unselected {
  background-color: var(--ch-slider-unselected-track-background-color);
  inline-size: var(--slider-unselected-value);
  block-size: 100%;
}

// - - - - - - - - - - - - - - - -
//              Thumb
// - - - - - - - - - - - - - - - -
.thumb {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: calc(
    var(--slider-thumb-position) - var(--ch-slider-thumb-size) *
      var(--slider-value)
  );
  transform: translateY(-50%);

  inline-size: var(--ch-slider-thumb-size);
  block-size: var(--ch-slider-thumb-size);
  background-color: var(--ch-slider-thumb-background-color);
  border-radius: 50%;
  pointer-events: none; // Remove pointer-events to allow the hidden input to be interactive
}
