ch-showcase-api {
  gap: 16px;

  &::part(properties) {
    gap: 20px;
  }

  &::part(properties-list) {
    gap: 24px;
  }

  &::part(properties-title) {
    font-size: 24px;
    font-weight: 600;
  }

  &::part(property-name) {
    padding-block-end: 4px;
    font-size: 16px;
    font-weight: 600;
    border-block-end: 1px solid
      color-mix(in srgb, currentColor 25%, transparent);
    margin-block-end: 8px;
  }

  &::part(property-name-code) {
    padding-block: 4px;
    padding-inline: 6px;
    background-color: var(--mer-surface__elevation--01);
    border-radius: 4px;
  }

  &::part(property-detail-list) {
    gap: 8px;
    padding-block: 4px;
    padding-inline: 6px;
  }

  &::part(property-detail-list-term) {
    font-size: 14px;
    font-weight: 600;
  }

  &::part(property-detail-list-description-type) {
    padding: 4px;
    background-color: var(--mer-surface__elevation--01);
    border-radius: 4px;
  }
}
