aside {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: sticky;
  inset-block-start: 48px;
  max-block-size: calc(100vh - 48px);
  background-color: var(--sidebar-un-sidebar__background-color);
  color: var(--text-un-text__on-secondary);
}

main {
  display: grid;
}

.chameleon-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing-un-spacing--l);
  margin: var(--spacing-un-spacing--l);
  padding: 0;

  & > .card {
    display: grid;
    justify-items: center;
    inline-size: 180px;
    min-block-size: 180px;
    text-align: center;
    padding: var(--spacing-un-spacing--l);

    &::before {
      content: "";
      display: block;
      inline-size: 100px;
      block-size: 100px;
      -webkit-mask: var(--ch-image) 50% 50% / 100% 100% no-repeat;
      background-color: currentColor;
    }
  }

  & > .card__rtl {
    --ch-image: url("https://unpkg.com/@genexus/unanimo@latest/dist/assets/icons/chat.svg");
  }
}

header {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  position: sticky;
  inset-block-start: 0px;
  z-index: 2; /* Avoid displaying the resize bar above the header  */
}

.header-start {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: baseline;
  gap: var(--spacing-un-spacing--s);
}

.main-page {
  margin: var(--spacing-un-spacing--l);
}

.heading-1 {
  margin-block-end: var(--spacing-un-spacing--m);
}

.heading-2 {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: var(--spacing-un-spacing--s);
}

.sections {
  display: grid;
  grid-template-rows: max-content;
  gap: var(--spacing-un-spacing--l);
  margin-block-start: var(--spacing-un-spacing--xl);
}

.form-input {
  margin: 8px;
}

.github-logo {
  --icon-path: url("./assets/icons/github.svg");
}

/* Remove StencilJS' iframe */
iframe[aria-hidden="true"] {
  display: none !important;
}
