aside {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--sidebar-un-sidebar__background-color);
  color: var(--text-un-text__on-secondary);
}

.sample {
  display: grid;
  block-size: 100%;
  inline-size: 100%;
}
