.icon-mask::before {
  content: "";
  display: block;
  inline-size: 24px;
  block-size: 24px;
  -webkit-mask: no-repeat center / 100% var(--icon-path);
  background-color: currentColor;
}

.icon-background::before {
  content: "";
  display: block;
  inline-size: 24px;
  block-size: 24px;
  background: no-repeat center / 100% var(--icon-path);
}

.card {
  display: grid;
  background-color: var(--mer-surface__elevation--01);
  box-shadow: 0px 0px 6px 0px #00000030;
  border-radius: 8px;
}

header {
  padding-inline: var(--mer-spacing--md);
  border-block-end: var(--mer-border__width--md) solid
    var(--mer-border-color__neutral);
}

aside,
header {
  background-color: var(--mer-surface__elevation--01);
}
