:host(.ch-scrollable),
.ch-scrollable,
.scrollable {
  scrollbar-width: thin;
  scrollbar-color: var(--accents__primary--hover) transparent;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--accents__primary--hover);
  }
}
