ch-grid-smart,
:host(.ch-scrollable) {
  scrollbar-width: thin;
  /* scrollbar-gutter: stable; */
  scrollbar-color: var(--accents__primary--hover) transparent;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--accents__primary--hover);
  }
}
