.rule-1 {
  background-image: url("images/background.png");
}

.rule-2 {
  background-image: url("/images/background.png");
}

.rule-3 {
  background-image: url("../assets/images/logo.svg");
}

.rule-4 {
  background-image: url("./assets/images/logo.svg");
}

.rule-5 {
  background-image: url("logo.png");
}

.not-valid-1 {
  background-image: url("http://example.com/image.png");
}

.not-valid-2 {
  background-image: url("https://example.com/image.png");
}

.not-valid-3 {
  background-image: url("data:image/png;base64,...");
}

.not-valid-4 {
  background-image: url("file:///C:/images/background.png");
}

.not-valid-5 {
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M10 17.42L5 12.42L6.41 11L10 14.59L17.59 7L19 8.42L10 17.42Z"/></svg>');
}
