.card-properties {
  margin-block-start: 38px;
}

.tab-test-main-wrapper {
  ch-tab-render {
    gap: 8px;

    &::part(page-container) {
      border: 1px solid color-mix(in srgb, currentColor 40%, transparent);
    }
  }
}

aside,
.header {
  --sidebar__background-color: var(--elevation--1);
  --header-primary__background-color: var(--elevation--1);
  --elevation--1: var(--colors-foundation__gray--1000);
  --elevation--3: var(--colors-foundation__gray--800);

  --body-m__font-color--positive: var(--text__on-surface--positive);

  --border-color__strong: var(--colors-foundation__gray--600);

  --text__on-surface--positive: var(--colors-foundation__negative);

  --text__primary--active: var(--colors-foundation__purple--300);

  --accents__primary: var(--colors-foundation__purple--100);
  --border-color__primary--hover: var(--accents__primary--hover);
  --text__primary: var(--accents__primary);

  --accents__primary-dim--hover: var(--colors-foundation__purple--10);
  --border-color__primary: var(--accents__primary);
  --text__primary--hover: var(--accents__primary--hover);

  --accents__primary--hover: var(--colors-foundation__purple--200);

  --border-color__primary--active: var(--accents__primary--active);

  --sidebar__background-color--active: var(--accents__secondary--active);

  --accents__secondary--active: var(--colors-foundation__purple--400);

  --accents__primary--active: var(--colors-foundation__purple--300);

  --text__on-primary: var(--colors-foundation__positive);
  --colors-foundation__positive: var(--colors-foundation__black);
  --colors-foundation__black: #121212;

  --header-primary__border-color: var(--colors-foundation__gray--300);

  --colors-foundation__negative: var(--colors-foundation__white);
  --colors-foundation__white: #ffffff;
  --colors-foundation__purple--10: #a9acf81a;
  --colors-foundation__purple--100: #a9acf8;
  --colors-foundation__purple--200: #ccccfb;
  --colors-foundation__purple--300: #858af6;
  --colors-foundation__purple--400: #666483;
  --colors-foundation__gray--300: #575965;
  --colors-foundation__gray--600: #e0e0e0;
  --colors-foundation__gray--800: #353537;
  --colors-foundation__gray--1000: #242426;
}
